Specify that Content-type in request header is required


I couldn't find a word in documentation about this questions:
    How can I require user to always set Content-type in request header? (something like "require" flag for parameters)
    Why the specified Content-type in `.yml` is used by default when there's no Content-type parameter in request's header ?

More details here:
[https://stackoverflow.com/questions/76538165/openapi-require-user-to-always-set-content-type-in-requests-header](https://stackoverflow.com/questions/76538165/openapi-require-user-to-always-set-content-type-in-requests-header)

Since the Request Body Object has a `content` field associating media types with specific request body structures, that means that do not match any media type are not described by the OpenAPI document.  While that is not explicitly an error condition, a consumer that is validating using the OpenAPI document should notice that there is no `*/*` (matching all types) option and do something different from media types with a defined request body.

According to RFC 9110 §8.3, a message recipient can either treat an absent `Content-Type` as `application/octet-stream` (which just means it's a sequence of bytes with no other information) or it can inspect the message contents.  It looks like the server you're using is looking in the message body, noticing that it is JSON, and passing it on to the back-end code.  The back-end code would need to notice the lack of `Content-Type` and send an error.  I'd say this is more a case of the back-end code not implementing what the OpenAPI document implies.  There's no other way to require `Content-Type` in the OpenAPI format.

Closing due to no further questions after the answer several months ago.