There appears to be a typo in this table about parameter serialization...

https://github.com/OAI/OpenAPI-Specification/blob/36a3a67264cc1c4f1eff110cea3ebfe679435108/versions/3.1.0.md?plain=1#L1081

In the current 3.1 OpenAPI Specification the table in the image below seems to have an error which is in conflict with the docs on the OpenAPI web site. I am looking for clarification on this difference. Please see the in-line screenshots for highlighted differences:

![image](https://user-images.githubusercontent.com/99691/212682828-0624e6a3-1d8c-4ea9-b059-ac56ec03b760.png)

Both label notations use dots in this document, but on the web site:

![image](https://user-images.githubusercontent.com/99691/212682998-e80a577b-003a-4b1d-8ebc-bc5696d298c5.png)

The exploded version uses dots and the non-exploded version uses commas in accordance with RFC6570. 

Could someone please clarify and confirm? If this is a mistake, I would be happy to submit a PR to resolve.

As the person who wrote the [doc](https://swagger.io/docs/specification/serialization/) on your 2nd screenshot - I believe it's indeed a typo in the spec. According to [RFC 6570 section 3.2.5](https://www.rfc-editor.org/rfc/rfc6570#section-3.2.5) "Label expansion", which in turn points to [section 3.2.1](https://www.rfc-editor.org/rfc/rfc6570#section-3.2.1) (emphasis mine):

> For a variable that is an associative array, expansion depends on both the expression type and the presence of an explode modifier. **If there is no explode modifier, expansion consists of appending a _comma-separated concatenation_ of each (name, value) pair that has a defined value.** If there is an explode modifier, expansion consists of appending each pair that has a defined value as either "name=value" or, ...

Thanks all for the extremely quick response and resolution!

I think this is [also present in 3.0.3](https://spec.openapis.org/oas/v3.0.3#style-examples) so I am tagging this for 3.0.4 as well.