Define formal media type (MIME type) for Swagger Object 

A media type of `application/swagger+json` has been [suggested on the mailing list](https://groups.google.com/forum/#!searchin/swagger-swaggersocket/application$2Fswagger$2Bjson/swagger-swaggersocket/Xd5cWuTusVs/QyRTUlS8Xi4J) before. I would recommend formally declaring this as part of the spec. 

RAML [defines its media type](http://raml.org/spec.html#overview) as `application/raml+yaml`

API Blueprint [defines its base media type](https://github.com/apiaryio/api-blueprint-ast#media-types) as `application/vnd.apiblueprint.ast` plus similar ones for [other serializations](https://github.com/apiaryio/api-blueprint-ast#media-types)


Is there any formal progress on a "application/swagger+json" media type. I'm working on generic client tooling right now, and the lack of a media type for swagger is a minor point of awkwardness there (eg can interact with other schema and hypermedia types without having to explicitly specify what type of media they should be interpreted as, but not so with swagger)

I think this is a very good idea to add in the next spec version

+1

+1

Is this worth the `OpenAPI.Next Proposal` tag, to ensure it gets consideration?

Done.

The lack of a registered Media Type for Open API resources is a hindrance so it would be great to get this resolved.

What ever Media Type name is chosen, it should be registered in the  [IANA Media Types Registry](http://www.iana.org/assignments/media-types/media-types.xhtml). 

Versioning information should not appear in the Media Type, the version information is present in the resource representation. The vast majority of Media Types in the IANA registry do not transport any version information. You don't want to have to go through the Media Type Registration process each time a new version is minted.

Note that the IANA Media Types registry is partitioned into namespaces, it won't be possible to register `application/swagger+json`, or `application/~anything~+json`, as they fall in the [Standards Tree](http://tools.ietf.org/html/rfc6838#section-3.1) namespace, which requires a corresponding IETF (or other recognized standards body) specification.

Registration in the [Vendor Tree](http://tools.ietf.org/html/rfc6838#section-3.2) should be fine, so I would recommend:

`application/vnd.open-api+json` for the JSON representation, and
`application/vnd.open-api+yaml` for the YAML representation.

Note that [RFC 6839 Section 3.1](https://tools.ietf.org/html/rfc6839#section-3.1) formalizes the `+json` suffix convention. There is no registered Media Type for YAML, and therefore no formalization of the `+yaml` suffix convention, both these issues may be an obstacle to registration of a Media Type for the YAML representation.





@darrelmiller I see `RFC`, `IANA` and `vnd` a lot here...chances are you have thoughts. 

@jasonh-n-austin Just pinged someone to find out the right place to get some of the uncertainties ironed out.  In theory I don't think we have to be on the vnd tree and I believe recent specs have formalized the suffix issue, but I want to confirm before making a submission.


@darrelmiller :+1: Good stuff.

Asked the questions to the people who hold the keys to the registry  https://mailarchive.ietf.org/arch/msg/media-types/_ijxSwBDdS6MF-sECqhxN1jkXzs

Thanks @darrelmiller.  Did you manage to find "the form"?

I know where the submission form is :-).  I was hoping I could get a registration in the standards tree without having to submit a spec document to IETF.  However, I don't believe the Linux Foundation is considered a "Standards Development Organization" so, our choices are either live with the "vnd" or submit an IETF compliant version of the spec to them when we release new versions.  I did at least get confirmation that it could be "Informational" and therefore not require any IETF WG input/consensus.


@darrelmiller Happy to help with drafting the informational RFC if needed, have done some draft RFCs before. The other message I took from that email thread was the case for approving the RFCs for  `application/openapi+json` & `application/openapi+yaml` would be made stronger by going ahead and using those media types, did I interpret that correctly? Is there agreement within OpenAPI that those are the exact media types that should be registered?

+1 for registering these as the "latest version" media types.
+1 for also registering version-specific media types as proposed by @olensmar `application/openapi-v20+json` or `applicatoin/openapi-3.0+json` (have to check the naming rules for use of dot)

+1 for submitting OpenAPI as an IETF RFC as we want to base the JSON dialect of OData's Metadata Format on OpenAPI, so the OpenAPI specification would be a normative reference.

@cdivilly Thanks for the offer to help.  Regarding the deploy first register later, the challenge is if we do something informally, the worst thing that could happen is people start using different approaches.  e.g. with/without version number.  I'm currently just trying to gather information and get the opinions out in the open, so that when we do make a registration, all the opinions have been heard.

@ralfhandl Can you make your case for including the version?  I would prefer not to include the version and just encourage people who are writing OpenAPI parsers to handle the differences internally.
Yes, having OpenAPI as an RFC would definitely make it easier to reference from other RFCs.  It would be interesting to investigate what it would take to automate the creation of a mirror spec.  The spec is already in markdown, so perhaps it could just be inserted into a kramdown-rfc2629 template.

@darrelmiller Assuming that OpenAPI 3.0 isn't the end of the road we'll need a mechanism for version negotiation. This could be a separate set of headers, or it could be rolled into the media type, i.e. be part of the content negotiation:

    Accept: application/openapi-v3_1+json, application/openapi-v3_0+json;q=0.2

or with separate headers

    Accept: application/openapi+json
    OpenAPI-MinVersion: 3.0
    OpenAPI-MaxVersion: 3.1

Making it part of the media type is two request headers less, and in addition I can give a weight to the acceptable versions.

@ralfhandl That is not best practice. HTML for example uses `text/html` since ages without a version number.

@akuckartz I'd prefer if we don't try and resolve this by appealing to "best practices".  The best solution to a particular problem is usually fairly context sensitive and there are too many varying opinions about what are the best practices.   

However, the `text/html` media type is a good example of a media type that has gone through numerous versions and has kept the same media type identifier.  I would prefer if OpenAPI tried to follow this model.

@ralfhandl Having version specific media types isn't the only way that we can deal with future versions of the OpenAPI spec.  The previous specification had the foresight to include version identifiers within the document so a parser can fairly easily identify which specification version is applicable.

It is true that without a version specific media type intermediaries will need to parse the body, but I am struggling to think of scenarios where they would want to differentiate.  Perhaps you are aware of some?  I would think it is more likely that intermediaries would prefer not to have to be updated when a new OpenApi version is released and they can identify all versions of the spec as an "OpenAPI" document.

The one scenario that is more challenging with just a single media type for all versions, is when a client wishes a server would return it a down-revision instance of the specification.  The question that comes to mind, is it really better to conneg for that, or should the OpenApi3 and OpenApi4 document simply be exposed as two different URLs?  Considering spec documents are fairly static documents, being able to cache them is handy and the support for using vary to cache multiple variants based on media type is quite poor, I think having separate URLs might be wise.

Are there other scenarios I am not considering where version specific media types are useful?

As an example, the [TWINTIP API crawler](http://stups.readthedocs.org/en/latest/components/twintip.html) currently expects just one API definition file referred from well-known URI (with its format specified in a `type` attribute). Though there is a [feature request for allowing multiple ones](https://github.com/zalando-stups/twintip-crawler/issues/5), and then it might also be possible to mention different formats of the same specification there, so this is not really an argument for or against having different formats at the same or at different URIs.

@ralfhandl Embedding version information in the media type would require a new media-type registration 
on each spec revision. In theory the version information could be transported as a media type parameter (like the charset parameter for text media types), but I'm not sure how well that would be supported, it's not something I've seen in the wild (I know I've written code that would fail to handle a parameterized media type in an `Accept` header correctly). So I wouldn't encourage this approach.

Instead of the client trying to negotiate a representation, how about if the server tells the client about alternative representations. I think this is something that is probably needed anyways, for example to point to the Open API YAML representation from the JSON representation and vice versa. Something like the `links` element from [JSON Hyper Schema][1], e.g.:

``` yaml
swagger: '4.0'
links:
  - {rel: alternate, spec-version: 3.0 href: "/open-api/3.0/myapi.yaml, mediaType: "application/openapi+yaml"}
  - {rel: alternate, spec-version: 4.0 href: "/open-api/4.0/myapi.json, mediaType: "application/openapi+json"}
  
info:
  title: My API
```
- A way to discriminate between Open API representation versions is needed for the hyperlinks, I'm not sure of the best way to represent this (again it could be a media type parameter), as a strawman I've minted a new attribute: `spec-version` to represent this value.

[1]: http://json-schema.org/latest/json-schema-hypermedia.html#anchor6

With this approach it is always apparent what older spec versions a server supports, versus the negotiation approach, which requires the client constructing a more complicated request to find out if the server supports the representation it requires.


@darrelmiller My goal is using OpenAPI as an alternative standard format for [OData Metadata Documents](http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part1-protocol/odata-v4.0-errata02-os-part1-protocol-complete.html#_Toc406398289), hence my desire for an IETF RFC for the OpenAPI Specification.

The metadata document of an OData service defines and describes the data structures and resource paths of that service, which OpenAPI also does, so this seems to be a good fit.

The metadata document is part of the service and resides at `<service-root>/$metadata`. It may be a static resource, but typically it is dynamically derived from the underlying API, and it is supposed to support content negotiation and language negotiation via the `Accept` and `Accept-Language` headers. 

OData defines [protocol-version negotiation](http://docs.oasis-open.org/odata/odata/v4.0/errata02/os/complete/part1-protocol/odata-v4.0-errata02-os-part1-protocol-complete.html#_Toc406398208), so a client can specify a range of acceptable OData versions, and we could tie the OpenAPI version to the OData version. But given that OData and OpenAPI are independent standards and will probably evolve at different speeds this feels undesirable.

@cdivilly I very much like the idea of having a `links` section pointing to alternate representations of the OpenAPI document. This would also be the natural place for a `rel: latest-version` that would allow an API advertising its successor.

@ralfhandl That's quite a challenging goal you have set for yourself there.  I would have thought it easier to just link to an OpenAPI document from the OData metadata rather than trying to replace the entire thing.  But that's another matter and I don't want to derail this thread.

I am reluctant to support versioning the Open API media types just because OData chose to try and standardize a resource identifier ($metadata) despite the guidance against [doing](https://tools.ietf.org/html/rfc7320) [that](http://www.bizcoder.com/2009/11/30/oh-data/). This is the same situation that @ePaul mentions about the use of a .well-known identifier to point to OpenAPI descriptions.

However, it is important to realize that well-known URIs were formalized to resolve only a small subset of situations where all other options were not possible.

>    well-known URIs are not intended
>    for general information retrieval or establishment of large URI
>    namespaces on the Web.  Rather, they are designed to facilitate
>    discovery of information on a site when it isn't practical to use
>    other mechanisms; for example, when discovering policy that needs to
>    be evaluated before a resource is accessed, or when using multiple
>    round-trips is judged detrimental to performance
From https://tools.ietf.org/html/rfc5785

There are much better ways for API consumers to discover description documents.  For example using http://apisjson.org/

The parameterization of the version in the media type @cdivilly is certainly a way to avoid the re-registration problem, but like him I haven't seen very much use of this in the wild.  We should consider it and perhaps it is something that someone on the IETF mailing list might weigh in on.  Maybe if we made version parameter optional to allow those who want to explicitly set it do so and those who don't can just ignore it.


@cdivilly Please use `type`, not `mediaType`, as per [RFC 4287 3.1.1.1 The "type" Attribute](https://tools.ietf.org/html/rfc4287).

Off topic: @darrelmiller nice to meet someone who knows OData even longer than I do :-) We could definitely link to an OpenAPI document from XML $metadata, but we also want JSON $metadata. JSON $metadata would need something very close to `definitions` and `paths`, so why reinvent the wheel? 

On topic: both a format parameter or a `links` section for related documents - including but not limited to alternative OpenAPI documents for different versions of the specification - are viable solutions, so I'd be fine with `application/openapi+json` without version information. The `links` section approach would be an example of [Reactive Negotiation](https://tools.ietf.org/html/rfc7231#section-3.4.2), whereas the format parameter would be [Proactive Negotiation](https://tools.ietf.org/html/rfc7231#section-3.4.1). 

@DavidBiesack yeah that's a peculiarity of JSON Hyper Schema, not something I'm inventing, that tripped me up first time I saw that too. The `mediaType` field is specified by JSON Hyper Schema (which I was using as a strawman above). I guess they use `mediaType` instead of `type`, because the `type` keyword already has significance for JSON Schema. 

What is the status of this ticket? What media type should we use for 2.0 which will be around for a while? I know the type may change for OpenAPI 3.0, but I'd like some resolution for 2.0.

@DavidBiesack The status is "I'm a lazy ass" and I need to get on this.  My preference at this point is to register `application/openapi+json` and define an optional parameter called version.  So if you choose you can use `application/openapi+json;version=2.0` to be explicit about the version.

If that registration works out, then we can attempt to register a +yaml version.  This will be a bit more tricky because we need to do some yaml related hoop jumping before that can go ahead.


One issue I have with `application/openapi+json` is that the 2.0 spec predates Open API -- it was not published as a product of the Open API Initiative and OAI/TDC process. I think `application/openapi+json` is fine for 3.0, but a perhaps misnomer for 2.0. Is there a reason to rule out `application/swagger+json` or `application/swagger-v20+json` (BTW, I do see the irony in me saying Open API should not call Swagger 2.0 "openapi" while in the same paragraph asking Open API to define a media type for Swagger 2.0.)

@DavidBiesack since swagger 2.0 _is_ the OpenAPI spec as of now, it will always be legal to refer to it as the OpenAPI spec version 2.0.  So `application/openapi+json;version=2.0` should cover the current 2.0 version, and be accurate.

To summarize, the proposal is to use `application/openapi+json;version=3.0` where the version is an optional parameter.

@webron will put this in a PR into the spec definition, and @darrelmiller will submit the `IANA` form.

@darrelmiller What is the status of the IANA registration? When will we know it is safe to use the media type without worrying about changes?

Hey @dilipkrish I'm not @darrelmiller but I believe he can't register it until we release the spec.  So it'll happen when released.

Technically, we could register it based on the V2 spec.  This is simply procrastination on my part.

No hurry... prompted by requests to support rendering the spec in yaml and I'd rather use the media type as a negotiating instrument than something in the url or a file extension like we usually do.

**/me** pokes 👉 👉 👉 @darrelmiller 

Stop procrastinating, friend. I need this, k?! 😁 

❤️,
🎩 

@webron @darrelmiller @fehguy just checking in on this, with the **3.0** spec now released, is there any update on the IANA registration and the formal definition of the type?

My understanding from [this comment](https://github.com/OAI/OpenAPI-Specification/issues/110#issuecomment-234661807) was that `application/openapi+json;version=#.#` would be the proposed type to use, is that still the case?



Yes, that's still the case.  I still haven't done the registration.  I still need to do it.

bump @darrelmiller 


So, in light of recent developments, I am bringing this issue back to life.  There are ongoing discussions in the OpenAPI Initiative about possibly increasing the scope of the OAI and it may arise that other specifications will fall under the OAI umbrella.

I would like to propose an alternate media type identifier that would remove some of the road blocks that were previously preventing this registration from happening and also accommodate the possibility of identifying other related specifications in a consistent manner.

I suggest that we register:
    
    application/vnd.oai.openapi

with an optional version parameter.  By moving our registration to the vendor subtree, the process becomes as simple as filling a web form with some fields.  To be in the standards tree we would need to go through IETF expert review and have a stable copy of the the specification registered with a recognized standards organization.  

This identifier makes the naming process easier for future specs managed by the OAI.  

Finally, I am proposing that we drop the +json suffix.  We will not be able to have a properly registered +yaml suffix because yaml is not an IANA registered media type.  I would prefer to have the simpler identifier than only support just one.


application/vnd.oai.openapi+json (JSON only variant)
application/vnd.oai.openapi (YAML/JSON variant)

Optional version parameter:

     application/vnd.oai.openapi;version=2.0


Hmm, I'm not understanding how `application/vnd.oai.openapi` makes it easier to have other specs under the OAI umbrella. It seems, if anything, it would make it harder, as it would attach "OpenAPI" to one specific spec.

@usarid Well assuming it was decided to adopt asyncapi as is, then we could register`application/vnd.oai.asyncapi`

If we decided to adopt a variant of apis.json as a discovery document then it could become `application/vnd.oai.apisjson`

My perspective is that OpenAPI already is associated to one spec.  OAI is the organization that could manage other specs.

I don’t think people will understand the subtlety that “OpenAPI” is just one of the specs managed by the OAI (OpenAPI Initiative). But maybe we should first progress the scope discussion and then get back to this.

Heya. Good work on progressing this.

Just to clarify on "Finally, I am proposing that we drop the +json suffix." is that a typo that meant to say "Finally, I am proposing that we drop the +yaml suffix." (Which the later comment suggests?)


@tomchristie My initial plan was to drop both, with the argument that if I can't support one, then let's not confuse the issue by only supporting +JSON.  But on the TSC call @MikeRalphson suggested letting the one without the suffix be YAML by default.  Which is extra convenient because JSON is actually valid YAML also.  Which leaves us in the awesome position of tools that support YAML or JSON get the clean  suffixless version and JSON only tools need the +json.  It's like having your cake and eating it too.

 

Great thanks @darrelmiller - that makes sense. 😄

@darrelmiller is this the final with an optional variant of version?  Sorry, the above thread does not clearly tell me what is the final.

application/vnd.oai.openapi (YAML variant)
application/vnd.oai.openapi+json (JSON only variant) 

@pratikpparikh No final decision has been made.  The two options you mention were my latest suggestion.  https://www.asyncapi.com is another specification that is very similar to OAS but for message based protocols.  There is conversations going on about possibly bringing that specification under the OAI organization.  

@usarid I think that regardless of how we end up incorporating AsyncAPI features into the OAI, whether it is with a distinct spec or just extensions to the existing specification, I still think there is value in calling out the fact that OpenAPI is part of the OAI.  It fits nicely into the vendor extension model and leaves the possibility of extensions in the future even if we don't use it.

Personally, I think I have dragged this issue out long enough and would really like to see some closure here.  If eventually we decide to propose OpenAPI as a full on IETF standard we can always register a new standards track media type at a later date.

@OAI/tsc APPROVED 🎉 

Please publish the final approved media types on https://github.com/OAI/OpenAPI-Specification (no need to update the published specification documents, but in the future I would like to see it in the spec itself).

Also, please clarify if we should use `;version=3.0` for 3.0.*, as implied by https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#versions 


@darrelmiller When should we expect these media types to appear in the registry at https://www.iana.org/assignments/media-types/media-types.xhtml?

Please consider resolving/closing #110 for OAS 3.0.2,  with clarification on exactly what the TSC approved, and what `;version=` values/mapping are allowed

Hi folks, what's the current state of this issue? I see that the TSC approved the usage of `application/vnd.oai.openapi` for YAML based OpenAPI specs, but there's no mention of this in approved specifications.

I'm willing to file an I-D for registering those media-types.
Just let me know.
 @darrelmiller @MikeRalphson 

Considering these:

```
  application/openapi
  application/openapi+json
```

Optional version parameters:

```
  application/openapi;version=3
```

Please provide thumbs up on this suggestion?

@darrelmiller just a clarification:

is that correct?

- ```application/openapi``` -> yaml



@ioggstream I believe that's the intention (that `application/openapi` is the YAML format), but as YAML is (to all practical purposes) a superset of JSON, you will be able to use `application/openapi` for JSON formatted OAS documents if you wish. Use `application/openapi+json` to indicate strict JSON only (which might affect performance in some cases).

> Use `application/openapi+json` to indicate strict JSON only (which might affect performance in some cases).

Clear, upvoted. Let's register that! If you need me to write an I-D please let me know.


I'm probably entering this discussion far too late, but I think the idea of registering specific media types for openapi documents is the wrong way to go. Media types are about syntax (i. e. yaml oder json), the internal structur of the data refers more to what [a current initiative in W3C](https://w3c.github.io/dx-connegp/connegp/) calls "profiles". (Disclaimer: I'm one of the editors of that draft).
The idea is that in order to avoid combinatorial explosion of media types (one for each document syntax), we separate the document syntax from the document structure, so that content adhering to the same document structure (i. e. the how the information in the document is organised) can be expressed using several media types (i. e. information about document syntax).
The gist of the proposal is that description(s) of document structure get a URI and when issuing the http request, an agent can use an `Accept-Profile` header to negotiate for documents conforming to a specific profile. The server can then return a conforming document using any of the media types listed in the `Accept` header (or if it cannot serve any of those media types, return the content using another media type and include a list of alternate resources using a `Link` header).
In the case of OpenAPI, this would mean that the media type for API descriptions would be the usual `application/json` or `application/yaml` (if that's the correct one; I couldn't find it in the [IANA media type registry](https://www.iana.org/assignments/media-types/media-types.xhtml)). In addition to that, the server would use a `Link` header with `rel=profile` (as in @dret 's [RFC 6906](https://tools.ietf.org/html/rfc6906)) to point to a URI defining the document structure, from where an agent can access additional information such as a JSON schema that can be used for validation.
As said, this might be too late and the train has probably already left the station.
Best,
Lars

@larsgsvensson thanks for chiming in. 

The IANA registry contains several examples of `application/this+json` and `application/this+xml` or `application/that+json` and `application/that+xml` representing the data type + format. Sounds like you saying OpenAPI should _**not**_ follow this - that this is a deprecated practice.

https://w3c.github.io/dx-connegp/connegp/#related-http describes using a `;profile=` media type parameter, and 
https://tools.ietf.org/html/draft-wilde-profile-link-04 also says 

> For newly defined
> media types that may be used with profiles, it is therefore
> recommended that they SHOULD define a media type parameter called
> "profile", and specify that this media type parameter follows the
> semantics of a profile as laid out in this document.  

So would using `application/json;profile=<some-openapi-2.0-profile-uri>` and `application/json;profile=<some-openapi-3.0-profile-url>`, (and corresponding `application/yaml;profile=...` for YAML) for an `Accept` header satisfy this SHOULD recommendation, and be less complicated compared to using both an `Accept` header and an `Accept-Profile` header in requests? It looks like both of these citations still use the `profile` link in the response headers, vs. a `;profile=` parameter in the response `Content-Type`.

Unfortunately as you note, there is no media type (yet) for YAML (see https://stackoverflow.com/questions/332129/yaml-mime-type/38000954#38000954 - yuch!). Personally, I'd prefer to see `application/yaml` over `text/vnd.yaml`.

@larsgsvensson defining a media type allows for other important features like defining media type parameters (forbidden to `application/json`, fragment syntax (JSON Pointer fragments are explicitly forbidden from use with `application/json`, and base URI + URI-reference resolution rules (absent from `application/json` as it has no URI-specific syntax or behavior).

While many of these restrictions on `application/json` are ignored in the wild, it is proper to ensure that strictly legal options are available for applications wanting to ensure strict conformance with specifications.  A profile does not accomplish this.

@DavidBiesack wrote:
> The IANA registry contains several examples of application/this+json and application/this+xml or application/that+json and application/that+xml representing the data type + format. Sounds like you saying OpenAPI should not follow this - that this is a deprecated practice.

No, it's not formally deprecated. Some consider it a good practice, some a bad one. The point is that it conflates syntax and semantics and that there will be a proliferation of media types since you need a separate media type for every combination of data type and format. If you create a profile describing the semantics of your data type you can re-use existing media types.

> So would using application/json;profile=<some-openapi-2.0-profile-uri> and application/json;profile=<some-openapi-3.0-profile-url>, (and corresponding application/yaml;profile=... for YAML) for an Accept header satisfy this SHOULD recommendation, and be less complicated compared to using both an Accept header and an Accept-Profile header in requests? It looks like both of these citations still use the profile link in the response headers, vs. a ;profile= parameter in the response Content-Type.

At a joint meeting with the JSON-LD WG, we discussed the use of `;profile=` in `Accept` and `Content-Type` headers. The resolution was to suggest that the `;profile=` in those headers is restricted to media type-specific profiles, such as `http://www.w3.org/ns/json-ld#expanded` to signal or request the use of the [expanded document form in JSON-LD](https://www.w3.org/TR/json-ld/#dfn-expanded-document-form). In order to negotiate for profiled resource representations the `Accept-Profile` and `Link` headers should be used.

> Unfortunately as you note, there is no media type (yet) for YAML (see https://stackoverflow.com/questions/332129/yaml-mime-type/38000954#38000954 - yuch!). Personally, I'd prefer to see application/yaml over text/vnd.yaml.

Funny, I would have thought that YAML would be widely supported enough... That of course makes it harder to decide what media type to use for OpenAPI documents in YAML syntax. You could either register `application/openapi` which doesn't reveal to clients that it is YAML, or you could wait for a YAML registration, register the `+yaml` suffix and then register `application/openapi+yaml` which would be more consistent with `application/openapi+json`. Or you could go for profiles and decide to publish documents at e. g. `https://openapis.org/profiles/oas/3.0.3` that would contain links to human- and machine-readable documentation, includin e. g. a JSON schema that can be used for validation. There is a [suggestion for how to link those things together to create a profile](https://www.w3.org/TR/dx-prof/#conceptualmodel).

@handrews wrote:

> defining a media type allows for other important features like defining media type parameters (forbidden to application/json, fragment syntax (JSON Pointer fragments are explicitly forbidden from use with application/json, and base URI + URI-reference resolution rules (absent from application/json as it has no URI-specific syntax or behavior).

Fair enough. Just so that I can follow your line of thought: How would you use those features when serving openapi documents?

> While many of these restrictions on application/json are ignored in the wild, it is proper to ensure that strictly legal options are available for applications wanting to ensure strict conformance with specifications. A profile does not accomplish this.

If the profile URI would point to a set of documents where it would be easy to find things like JSON schemas or other validation aids, would that solve the problem for applications wanting to ensure strict conformance with specifications? 

@DavidBiesack OK so your version of "profile" is separate from the media type parameter `profile`?

JSON Schema adds the `application/schema-instance` media type specifically so we could use a `profile=` or `schema=` media type parameter legally (and use JSON Pointers for fragments legally).  Several drafts ago we were using `profile=` but [\@dret objected](https://github.com/json-schema-org/json-schema-spec/issues/222#issuecomment-272750411) so we switched to `schema=`, although \@dret seems to have since [given up trying to enforce that](https://github.com/json-schema-org/json-schema-spec/issues/833#issuecomment-590588506).

At this point idk what JSON Schema will do in the next draft (the one that will align with OAS 3.1 final) but I'm hoping that [the people who keep disagreeing with each other](https://github.com/json-schema-org/json-schema-spec/issues/522) will work it out because it's frustrating to be criticized for every possible decision by different people who are each trying to advocate for or discourage the use of their own projects.  I tried to get around it by coming up with our own thing, but people don't like that either, so I've more or less given up on the topic.

> Funny, I would have thought that YAML would be widely supported enough.

No, it's been effectively a running joke for years that it will never get a proper media type, and it's annoying AF.  This is part of why OpenAPI declared their own media type, with an optional `+json` variant if you want to restrict the underlying syntax to JSON.

> If the profile URI would point to a set of documents where it would be easy to find things like JSON schemas or other validation aids, would that solve the problem for applications wanting to ensure strict conformance with specifications?

@Relequestual @awwright @philsturgeon here's something to consider for the next JSON Schema draft I guess.

hello all.

On 2020-08-28 18:11, Henry Andrews wrote:
> JSON Schema adds the |application/schema-instance| media type 
> specifically so we could use a |profile=| or |schema=| media type 
> parameter legally (and use JSON Pointers for fragments legally). Several 
> drafts ago we were using |profile=| but @dret objected 
> <https://github.com/json-schema-org/json-schema-spec/issues/222#issuecomment-272750411> 
> so we switched to |schema=|, although @dret <https://github.com/dret> 
> seems to have since given up trying to enforce that 
> <https://github.com/json-schema-org/json-schema-spec/issues/833#issuecomment-590588506>.

i cannot "enforce" everything. i simply have tried to explain to people 
that a profile is not what they think it is when they are referring to 
the RFC *and* actually talk about applying schemas to data models.

but yes, i have given up on this one. and i don't "own" the concept of a 
profile, i simply had something specific in mind when i wrote the RFC 
and that was different from what some people apparently want it to be.

such is life. time to move on. keep up the good fight, henry!

-- 
erik wilde | mailto:erik.wilde@dret.net |
            | http://dret.net/netdret    |
            | http://twitter.com/dret    |


@dret I'm sorry that this keeps coming up, I think it's more that we're looking for consensus from the broader community, and I saw you disagree that a schema can be a profile, but I don't understand why. I would like to understand why, though.

I'm not sure about OpenAPI, but at least as far as JSON Schema defines it, a schema seems like a kind of profile:

> a profile can be described as additional semantics that can be used to process a resource representation, such as constraints, conventions, extensions, or any other aspects that do not alter the basic media type semantics.

✅ JSON Schema adds constraints to documents, and allows additional information to be read out of a JSON document; but it does not alter the JSON semantics.

> A profile MUST NOT change the semantics of the resource representation when processed without profile knowledge, so that clients both with and without knowledge of a profiled resource can safely use the same representation.

✅ e.g. an intermediate HTTP node (that does not understand profiles or JSON Schema) could add or remove whitespace without affecting a JSON Schema aware processor.

> Profiles can be combined, meaning that a single resource representation can conform to zero or any number of profiles.

✅  Multiple JSON Schema documents may be applied, forming a logical intersection

> Profiles are identified by URI.

✅  JSON Schemas are identified by URI

> However ... the URI in this case only serves as an identifier

✅  JSON Schemas are not (necessarily) available over the network, and most applications expected to work without ever dereferencing a profile URI (unlike a DTD).

> Thus, clients SHOULD treat profile URIs as identifiers and not as links, but profiles MAY be defined in a way that the URIs do identify retrievable profile description and thus can be accessed by clients by dereferencing the profile URI.

✅  JSON Schema does permit this, but downloadable representations are retrieved by following the "describedBy" link relation.

> For profiles intended for use in environments where clients may encounter unknown profile URIs, profile maintainers SHOULD consider to make the profile URI dereferencable and provide useful documentation at that URI.

✅  We suggest doing this for the benefit of human debugging

If any of this doesn't seem correct, I'm very curious to hear your take, @dret.

@larsgsvensson wrote:

> If the profile URI would point to a set of documents

I think this is the only issue here, if you mean something that can be downloaded, then another link relation would be appropriate.

On 2020-08-30 02:11, Austin Wright wrote:
> I'm not sure about OpenAPI, but at least as far as JSON Schema defines 
> it, a schema seems like a kind of profile:

a bit of history: RFC 6906 is based on "profile" as used in the HTML 
spec (it's deprecated by now, so linking to good old HTML4):

https://www.w3.org/TR/html40/struct/global.html#profiles

you can simply use this concept to understand what RFC 6906 is defining. 
HTML is not a profile of SGML/XML. but you can use profiles to indicate 
that your HTML is based on a certain way of using HTML. you can still 
understand HTML as HTML even when you're not knowing the profile.

or to give a more real-life example:

- a letter is something written on paper. a letter is a way of using 
paper and it's defining a new layer of meaning. a letter *isn't* paper, 
it's *a way of using paper*.

- a "profile of paper" would be something like square paper: it's still 
just paper, but with an additional constraint.

- a "profile of a letter" would be an invitation letter: it's still just 
a letter, but one with additional constraints.

that's really all i can say. if you think that *a letter is paper*, then 
in my mind you're mixing categories, but you're of course free to do it.

-- 
erik wilde | mailto:erik.wilde@dret.net |
            | http://dret.net/netdret    |
            | http://twitter.com/dret    |


@dret I don't understand how @awwright would be arguing that \*a letter is paper\*.  He provided a very clear breakdown of how he thinks JSON Schema meets each condition in the specification.

Could you please let us know which of his points is incorrect?  From my perspective, square paper is a subset of paper.  Given a schema language for paper dimensions it could be expressed as something like `"xyRatio": "1:1"`.  There are endless possible sizes and ratios of paper, but this constrains the set to those where the X and Y dimensions are the same.

A JSON Schema similarly defines the subset of JSON documents that are acceptable.  The schema identifier may in practice be overloaded to indicate further semantics (e.g. this is a "letter"), but that is not part of the JSON Schema specification, and other link relation types are more appropriate for that.

In an API, I would not use a schema to indicate that a document is a letter (or a car, or a planet, or anything else).  Because the schema describes the _representation syntax_, not the _semantic usage_.  The semantic usage should be stable across the lifetime of the API.  Some uses may or may not be implemented at different times, but they are still _semantically valid_.  However, the syntax is expected to fluctuate across time.  Ideally it wouldn't but we all know that's not how it works.

So I read your explanation and @awwright's detailed examination of the requirements and cannot see a contradiction.  Could you please point it out in plain terms, using @awwright's example?

On 2020-08-31 20:37, Henry Andrews wrote:
> Could you please let us know which of his points is incorrect? From my 
> perspective, square paper is a subset of paper. Given a schema language 
> for paper dimensions it could be expressed as something like |"xyRatio": 
> "1:1"|. There are endless possible sizes and ratios of paper, but this 
> constrains the set to those where the X and Y dimensions are the same.

yes, you can implement a profile using a schema language. but we're not 
arguing over implementations here but over what the two terms mean (the 
concept of a profile and the concept of a schema).

all i can say is that in my experience in a variety of fields, people 
use these terms for different concepts. a schema establishes a new 
interpretation; a profile augments an interpretation. think along the 
lines of HTML (a schema) and the good old STRICT and LOOSE profiles of 
it (two ways to constrain the HTML schema).

clearly you want to use these terms in a different way, and that's your 
right. i happen to think that this is not very helpful, but that's just 
me having a different opinion.

but we're getting into a wittgenstein loop here. if you want to use the 
term "profile" the way you want to use it, then this is what it means 
for you. i cannot point you to a definition that categorically disallows 
your use. all i can do is say that this is not how i use it, how i see 
it being used, and that this is not what was intended in the RFC.

-- 
erik wilde | mailto:erik.wilde@dret.net |
            | http://dret.net/netdret    |
            | http://twitter.com/dret    |


> HTML is not a profile of SGML/XML

Besides the fact HTML is a separate media type, is there any reason this should be the case? An XML processor can read an `application/xhtml+xml` document without any knowledge of what HTML is. It can even perform some simple changes, like collapsing whitespace, or refactoring namespace declarations.

It seems the issue is XML semantics are so generic, there's not much else you can do with it.

But suppose I know the XML document is HTML, then there's more I can do with it.

And suppose I know the HTML document is hCard, or RDFa. Then there's even more I can do with it. Being able to express this seems to be the primary benefit of profiles.

> think along the lines of HTML (a schema) and the good old STRICT and LOOSE profiles of it (two ways to constrain the HTML schema).

So you consider a DTD to be a kind of profile? Isn't a DTD a kind of schema?

> clearly you want to use these terms in a different way, and that's your
right. i happen to think that this is not very helpful, but that's just
me having a different opinion.

@dret, i'm pretty distressed by this accusation.  Several years ago, we **stopped using `profile`** specifically because you asked us not to, on the grounds that it was not appropriate.  We have not started using it again.  It's demonstrably clear and documented in GitHub that we have, in fact, gone out of our way to respect your views of what this means.

In the intervening years, other things have happened with "profile", and you yourself have indicated some sort of shift in views (as noted and linked to above).  @awwright raised the idea that maybe given how things have changed, we should check in and align with the overall community meaning of "profile", whatever that happens to be now.

All we ***want*** is to be aligned with the common accepted usage.  We don't want to be a weird outlier to an established pattern.  We don't want to be that one project abusing an otherwise well-defined term, ***and*** we don't want to be that one project that re-invented the wheel (e.g. by replacing "profile" with "schema" for both media type parameters and link relation types, if it turns out that "profile" is the industry-wide consensus.  Which we are not assuming).

I am bothered that you are ascribing ill will to us here.

> yes, you can implement a profile using a schema language. but we're not
arguing over implementations here but over what the two terms mean (the
concept of a profile and the concept of a schema).

That's not what we asked, and we're not **trying** to argue with you.  We're trying to understand, but instead of giving a clear answer in terms of the concrete example, you criticize us and give oblique arguments that don't clearly relate to what we need to understand.

@awwright and I are both trying our best to figure this out and we cannot.  There is a [simple question on the table](https://github.com/OAI/OpenAPI-Specification/issues/110#issuecomment-683356687).  You should be able to tell us which of those seven points is wrong.  Or if it's not outright wrong (is that what you mean by "yes you can implement a schema..."?), then clearly something is at least _bothering_ you about at least one of those seven point.

**Which point is it, and what is the problem?**

Don't point to other media types or create new examples.  There's a seven-point attempt to meet your own definition.  Where did we go wrong?

On 2020-09-01 22:14, Austin Wright wrote:
>     think along the lines of HTML (a schema) and the good old STRICT and
>     LOOSE profiles of it (two ways to constrain the HTML schema).
> 
> So you consider a DTD to be a kind of profile? Isn't a DTD a kind of schema?

we're definitely going in circles by now.

a DTD is tech. schemas and profiles are concepts. most people probably 
would put DTD in the schema bucket, but as i said, you can implement 
profiles in many ways, including a DTD.

if that helps you: HTML is a model that can be (and in fact has been, 
look at HTML and XHTML) based on different foundations. for somebody 
just interested in HTML semantics, that actually doesn't matter, it's 
HTML semantics in both cases. because all you do is operate at the 
semantic level of HTML.

profiles do not establish this new level. they constrain the existing 
level. i still need to understand HTML in order to understand a profile 
of HTML. i do not need to understand SGML in order to understand HTML.

really, i have no idea how to explain this any better. and it doesn't 
seem to me like we're making any progress here.

-- 
erik wilde | mailto:erik.wilde@dret.net |
            | http://dret.net/netdret    |
            | http://twitter.com/dret    |


On 2020-09-01 23:35, Henry Andrews wrote:
> All we /*want*/ is to be aligned with the common accepted usage. We 
> don't want to be a weird outlier to an established pattern. We don't 
> want to be that one project abusing an otherwise well-defined term, 
> /*and*/ we don't want to be that one project that re-invented the wheel 
> (e.g. by replacing "profile" with "schema" for both media type 
> parameters and link relation types, if it turns out that "profile" is 
> the industry-wide consensus. Which we are not assuming).

i am not the arbiter of what *common accepted usage* is, and it probably 
very much differs depending on the community. if you talk to people with 
a more XMLish background you will find rather different ideas than you 
would find in a sample with a more RDFish slant.

all i can do is tell you what *my* view of the matter is, and i think 
that really hasn't changed much over the years. but to say it one last 
time: i have no control over how people use terminology or specs, and i 
have no special say in this either. concepts are fuzzy, people have 
opinions and preferences, and you may have to simply accept that.


Why can't you just answer the question?

@dret this is maddening.  Just tell use 1, 2, 3, 4, 5, 6, 7 which point(s) are wrong?

Ok, I gather that it's entirely possible to use a JSON Schema to define profiles of an `application/json` document. It might be the case a JSON Schema isn't _necessarily_ a profile, but it can certainly be the case.

Before we get too far off topic, I think the question becomes, can we use profiles to distinguish version? If a profile is required to correctly interpret an OpenAPI media type, we don't gain anything over just using `application/json` with a profile.

@dret 

> concepts are fuzzy, people have opinions and preferences, and you may have to simply accept that.

Why do you think we don't?  I'm not asking you for a certificate of compliance to wave at other people.  I'm just asking, _in your own personal opinion_, which of the seven points is incorrect?  You have indicated that you do not agree with our interpretation, therefore one of those steps must be a problem _in your own opinion_, which we promise not to use to bludgeon anyone else or whatever it is you think we're doing.  I am begging you to tell us which one.

Is this effectively resolved by https://datatracker.ietf.org/doc/html/draft-polli-rest-api-mediatypes?

See https://datatracker.ietf.org/doc/draft-ietf-httpapi-rest-api-mediatypes/ 

Is this dead?

On 2023-09-20 09:06, Michal Landsman wrote:
> Is this dead?

hopefully not!


Dear all, the work on this is ongoing. Yet, laying down something meaningful is not easy as it seems.

People interested in contributing to this issue can spend some time reading and providing feedback here https://github.com/ietf-wg-httpapi/mediatypes/labels/rest-api

Have a nice day,
R:

As @ioggstream noted above, this work is going on at https://github.com/ietf-wg-httpapi/mediatypes and should be tracked there.  I'm going to close this out to reduce clutter here.