v3.1: Set an Accept header in the HTTP request

**Describe the error in the specification**

Some common web frameworks, like Laravel or Rails, decide what type of response to provide based on the Accept header of the HTTP request.

For example in Rails you may have:

```ruby
def destroy
  @post = Post.find params[:id]
  @post.destroy
  respond_to do |format|
    format.html { redirect_to posts_path }
    format.json { head :no_content }
  end
end
```

If you are building an OpenAPI spec to deal with that Rails API, you need to specify this in the request:

```
Accept: application/json
```

Otherwise, without that header in the request, the default response type is HTML and you will get a HTML response (or a redirect in this case) instead of the 204.

**Additional context**

This issue is even more serious since you cannot set the required header explicitly, due to this sentence in the OpenAPI official specification:


> If [in](https://swagger.io/specification/#parameter-in) is "header" and the name field is "Accept", "Content-Type" or "Authorization", the parameter definition SHALL be ignored.


@collimarco I believe there are two reasons for that restriction:

1. The media types (or ranges) expected to be usable in `Accept` are specified as keys under `content` field of the Response Object.  Typically the Response Object under a `"200"` or similar status where the response is a representation of the resource.  By default, a tool would just put all of those in `Accept` in some implementation-defined order (because JSON objects are not guaranteed to preserve key order).
2. An OpenAPI Description (OAD) describes the known usable API surface.  A _client_ is free to set whatever `Accept` they want.  The restriction is only on having a Parameter Object with `in: header, name: Accept`.  But a client or application can set whatever they want.  An OAD might advertise both JSON and XML responses, for example, but the application may only understand JSON and set `Accept: application/json` accordingly.

Does that make it more clear?

> Why do you need Accept with a 204 response which has no content? To the extent that it is meaningful, it would apply to the representation you would get in a 200 response to a GET, and would only affect the metadata headers of the 204 response

As I wrote in the previous message, I am talking about the **Accept header in the HTTP request**. I am not talking about the response.

**I simply need to set an Accept header (application/json) in the request, so that Rails responds in the correct format.** This is not currently possible with OpenAPI.

> this has never come up before

I found several reports online about this issue, but they don't have any answer.

> Is the code in your original post code that you wrote, or is it code deep in the framework that you cannot change?

That code is very common in Rails applications, it's generated by Rails scaffolding and is a common practice. The API has been there for many years, but we are now adding an OpenAPI specification (so we cannot change the API, also because it's not an error in the API). The API simply expects an Accept header in the request in order to answer with the correct format.

@collimarco yes, I know we are talking about the request.  Why would you send an `Accept` header when you do not expect content at all?  The `Accept` header is about the representation of the resource, and when you expect a `204` you don't have a representation to care about.

> That code is very common in Rails applications, it's generated by Rails scaffolding and is a common practice. ... The API simply expects an Accept header in the request in order to answer with the correct format.

So send one.  I still don't understand what's stopping you from sending one.


> Why would you send an Accept header when you do not expect content at all?

In the Rails example above, if you don't send `Accept: application/json` in the request, you will get a redirect (`format.html { redirect_to posts_path }`) instead of the correct response (`format.json { head :no_content }`). You can also see the relevant Rails documentation here: https://api.rubyonrails.org/classes/ActionController/MimeResponds.html#method-i-respond_to

> I still don't understand what's stopping you from sending one.

I could add an Accept header in the request specification, but OpenAPI says that "the parameter definition SHALL be ignored" in this case. So the tools that use the OpenAPI spec would ignore my Accept header added to the request.


```
openapi: 3.1.0
info:
  title: Example API
  version: 1.0.0

paths:
  /posts/{id}:
    delete:
      summary: Delete a post
      description: Deletes a post by its unique ID.
      parameters:
        - in: path
          name: id
          required: true
          description: The ID of the post to delete
          schema:
            type: string
        - in: header # will this be ignored by tools that respect the OpenAPI standard?
          name: Accept
          required: true
          schema:
            type: string
            enum: [application/json]
      responses:
        '204':
          description: Post successfully deleted (no content returned)
        '404':
          description: Post not found
```

1. So the above specification with the Accept header is perfectly valid and compliant with the OpenAPI standard?
2. The Accept header defined in the above specification MUST be respected by tools that support the OpenAPI standard?




> In the Rails example above, if you don't send `Accept: application/json` in the request, you will get a redirect (`format.html { redirect_to posts_path }`) instead of the correct response (`format.json { head :no_content }`).

That sounds like a bug in the code then. If the API documentation clearly says that a 204 No Content response is one of the potential responses, then the code ought to be able to handle a request that doesn't have an Accept header (because the client isn't interested in accepting any response body!)  Insisting upon an Accept header to send a 204 No Content response is just wrong.

> I could add an Accept header in the request specification, but OpenAPI says that "the parameter definition SHALL be ignored" in this case. So the tools that use the OpenAPI spec would ignore my Accept header added to the request.

This is a case where the OpenAPI document and the implementing code are in conflict.  I don't see how any of this is an issue with the OpenAPI specification.



> Insisting upon an Accept header to send a 204 No Content response is just wrong.

No, it's not wrong. It's perfectly valid (and it's also a common practice in Rails). **Find a single standard (outside your OpenAPI spec) that says that it is invalid.** The Accept header in the request simply tells the application code to return a response in JSON format instead of responding in HTML format. How is that invalid?

> **If I set Accept: application/json in the request, is it valid for the HTTP standard if the server returns a 204 No Content?**
>
> Yes, that’s valid according to the HTTP standard.
> * The `Accept: application/json` request header tells the server: “If you send a response body, I would like it to be JSON.”
> * A `204 No Content` response by definition has no response body (RFC 9110, section 15.3.5).
> * Since there is no body, the content negotiation headers (`Accept`, `Content-Type`) are essentially irrelevant, there’s nothing to encode or type.
> 
> So, it is completely valid for the server to respond with `204 No Content` even when the client sent `Accept: application/json`.
> The only thing to avoid is including a `Content-Type` header or a body in the `204` response, since the spec forbids a body in this case.

