Support for structured-headers de/serialization

## I expect

A way to express structured-headers serialization

- https://httpwg.org/http-extensions/draft-ietf-httpbis-header-structure.html

Here are some examples:

```
Example-IntegerHeader: 42
Example-BoolHdr: ?1
Example-StringHeader: "hello world"
Example-BinaryHdr: *cHJldGVuZCB0aGlzIGlzIGJpbmFyeSBjb250ZW50Lg==*
Example-StrListHeader: "foo", "bar", "It was the best of times."
Example-DictHeader: en="Applepie", da=*w4ZibGV0w6ZydGU=*

```
## Note

In the near future, all http headers will probably be de/serialized using structured-header specs.



@ioggstream JSON Schema is defined over a [data model](https://tools.ietf.org/html/draft-handrews-json-schema-02#section-4.2), so as long as the structured header format can be unambiguously parsed into that data model, it would make sense to just use JSON Schema for that.

@darrelmiller @webron is this something we should note or clarify for 3.0.3 and/or 3.1?  I'm going to flag this under #2099 even though its pretty tangential to the JSON Schema draft update.  It is related to JSON Schema stuff that we have tried to make more explicit in recent drafts.

Can define `structured-headers` as an alternative schema help?

It might be worth introducing a new `style` value called `structured-header` or something like that in the future.  The Schema object can describe the header value content and the style will clarify how it should be serialized.  I am still not seeing very many uses of structured headers so I don't think there is an urgency.  It is worth considering for 3.2.

structured-headers is still WIP, so 3.2 is fine.

OTOH it could be interesting some feedback from the OAS community to  https://github.com/httpwg/http-extensions/blob/master/draft-ietf-httpbis-header-structure.md

> ## I expect
> 
> 
> 
> A way to express structured-headers serialization
> 
> 
> 
> - https://httpwg.org/http-extensions/draft-ietf-httpbis-header-structure.html
> 
> 
> 
> Here are some examples:
> 
> 
> 
> ```
> 
> Example-IntegerHeader: 42
> 
> Example-BoolHdr: ?1
> 
> Example-StringHeader: "hello world"
> 
> Example-BinaryHdr: :cHJldGVuZCB0aGlzIGlzIGJpbmFyeSBjb250ZW50Lg==:
> 
> Example-StrListHeader: "foo", "bar", "It was the best of times."
> 
> Example-DictHeader: en="Applepie", da=*w4ZibGV0w6ZydGU=*
> 
> 
> 
> ```
> 
> ## Note
> 
> 
> 
> In the near future, all http headers will probably be de/serialized using structured-header specs.
> 
> 
> 
> 



Here are two possible generic schemas for [RFC9651 Structured Fields](https://www.rfc-editor.org/rfc/rfc9651).

Many elements of Structured Fields involve a value and optional parameters.  Additionally, all name-value pairs (dictionaries and parameters) are ordered.  There are several possible ways to handle these things, with the two options below representing two extremes.

Individual headers using structured fields would use these definitions to describe their specific values and parameters.

_Note: I have not tested all of the schemas and regexes, although I did test the sf-string regex.  These are meant to convey the general idea, they're not meant to be perfect right now._

### Using Arrays

This first option uses arrays almost as much as possible.  Parametrized values have the value as the first item, and the parameters as the second.  Name-value pairs are done as lists objects, each of which must have exactly one property (these could have been done as two-element arrays, but that seemed excessive).

```yaml
$id: https://spec.openapis.org/oas/3.3/schema/2026-09-01/structured-fields-array
$schema: https://json-schema.org/draft/2020-12/schema
$defs:
  sf-boolean:
    type: boolean
  sf-byte-sequence:
    type: string
    contentMediaType: application/octet-stream
    contentEncoding: base64
  sf-token:
    type: string
    pattern: |-
      ^[a-zA-Z*][a-zA-Z0-9!#$%&'*.^_`|~+-]+$
  sf-string:
    type: string
    pattern: |-
      ^([\x20\x21\x23-\x5B\x5D-\x7E]|(\\\\)|(\\"))*$
  sf-decimal:
    type: string
    pattern: |-
      ^-?\d{1,12}\.\d{1,3}$
  sf-integer:
    type: integer
    format: int64
    minimum: -999999999999999
    maximum: 999999999999999
  sf-date:
    type: integer
    format: int64
    minimum: -62135596800  # Technically can be less but not interop?
    maximum: 253402214400  # Technically can be more but not interop?
  sf-display-string:
    type: string
    pattern: |-
      ^([\x20\x21\x23-\x5B\x5D-\x7E]|(\\\\)|(\\")|(%[0-9a-f][0-9a-f]))*$
  sf-bare-item:
    anyOf:
    - $ref: "#/$defs/sf-boolean"
    - $ref: "#/$defs/sf-byte-sequence"
    - $ref: "#/$defs/sf-token"
    - $ref: "#/$defs/sf-string"
    - $ref: "#/$defs/sf-decimal"
    - $ref: "#/$defs/sf-integer"
  sf-parameters:
    type: array 
    items:
      type: object
      minProperties: 1
      maxProperties: 1
      patternProperties:
        "[a-z*][a-z0-9*._-]*":
          $ref: "#/$defs/sf-bare-item"
  sf-item:
    type: array
    minItems: 1
    prefixItems:
    - $ref: "#/$defs/sf-bare-item"
    - $ref: "#/$defs/parameters"
  sf-inner-list:
    type: array
    minItems: 1
    prefixItems:
    - type: array
      items:
        $ref: "#/$defs/sf-item"
    - $ref: "#/$defs/parameters"
  sf-list:
    type: array
    minItems: 1
    prefixItems:
    - type: array
      items:
        anyOf:
        - $ref: "#/$defs/sf-item"
        - $ref: "#/$defs/sf-inner-list"
    - $ref: "#/$defs/parameters"
  sf-dictionary:
    type: array
    items:
      type: object
      minProperties: 1
      maxProperties: 1
      patternProperties:
        "[a-z*][a-z0-9*._-]*":
          anyOf:
          - $ref: "#/$defs/sf-item"
          - $ref: "#/$defs/sfinner-list"
```

## Using Objects

In this version, parametrized values are two-property objects, with the properties named "value" and "parameters".  Name value pairs are still arrays of objects, but the objects have two required fields, "key" and "value".

```yaml
$id: https://spec.openapis.org/oas/3.3/schema/2026-09-01/structured-fields-object
$schema: https://json-schema.org/draft/2020-12/schema
$defs:
  sf-boolean:
    type: boolean
  sf-byte-sequence:
    type: string
    contentMediaType: application/octet-stream
    contentEncoding: base64
  sf-token:
    type: string
    pattern: |-
      ^[a-zA-Z*][a-zA-Z0-9!#$%&'*.^_`|~+-]+$
  sf-string:
    type: string
    pattern: |- 
      ^([\x20\x21\x23-\x5B\x5D-\x7E]|(\\\\)|(\\"))*$
  sf-decimal: 
    type: string
    pattern: |-
      ^-?\d{1,12}\.\d{1,3}$
  sf-integer:
    type: integer
    format: int64
    minimum: -999999999999999
    maximum: 999999999999999
  sf-date:
    type: integer 
    format: int64 
    minimum: -62135596800  # Technically can be less but not interop?
    maximum: 253402214400  # Technically can be more but not interop?
  sf-display-string:
    type: string
    pattern: |-
      ^([\x20\x21\x23-\x5B\x5D-\x7E]|(\\\\)|(\\")|(%[0-9a-f][0-9a-f]))*$
  sf-bare-item:
    anyOf:
    - $ref: "#/$defs/sf-boolean"
    - $ref: "#/$defs/sf-byte-sequence"
    - $ref: "#/$defs/sf-token"
    - $ref: "#/$defs/sf-string"
    - $ref: "#/$defs/sf-decimal"
    - $ref: "#/$defs/sf-integer"
  sf-parameters:
    type: array
    items:
      type: object
      required:
      - key 
      - value
      properties:
        key:
          type: string
          pattern: |-
            [a-z*][a-z0-9*._-]*
        value:
          $ref: "#/$defs/sf-bare-item"
  sf-item:
    type: object
    required:
    - value 
    properties:
      value:
        $ref: "#/$defs/sf-bare-item"
      parameters:
        $ref: "#/$defs/parameters"
  sf-inner-list:
    type: object
    required:
    - value
    properties:
      value:
        type: array
        items:
          $ref: "#/$defs/sf-item"
      parameters:
        $ref: "#/$defs/parameters"
  sf-list:
    type: object
    required:
    - value
    properties:
      value:
        type: array
        items:
          anyOf:
          - $ref: "#/$defs/sf-item"
          - $ref: "#/$defs/sf-inner-list"
      parameters:
        $ref: "#/$defs/parameters"
  sf-dictionary:
    type: array
    items:
      type: object
      required:
      - key
      - value
      properties:
        key:
          type: string
          pattern: |-
            [a-z*][a-z0-9*._-]*
        value:
          anyOf:
          - $ref: "#/$defs/sf-item"
          - $ref: "#/$defs/sfinner-list"
```

This might be a little out of topic: I'm curious about why you've used anyOf instead of oneOf for the bare-item here?

What would help my comprehension of the topic at this stage would be example representations. I went through the RFC to try to find some, and the ones I found were not helpful.

If we take retry-after defined in RFC 7231 with the following ABNF: 
Retry-After = HTTP-date / delay-seconds

Which roughly means we can have values like these:

Retry-After: "Wed, 21 Oct 2015 07:28:00 GMT"
Retry-After: 120

Using the syntax you've defined in #1980, I'm guessing the description would be something like this??

```yaml
oneOf:
- $ref: '#/defs/sf-integer'
- $ref: '#/defs/sf-date'
#missing another variation for date a "string representation"
```

But then, where would I place this? In a generic "headers" schema, which would be an object with properties? kind of like what we do for request / response body and their properties today?

@baywet 

> This might be a little out of topic: I'm curious about why you've used anyOf instead of oneOf for the bare-item here?

Because the types aren't mutually exclusive.  The string "abc" is a valid token, a valid string, and a valid display string.  The number 1 is both a valid integer and a valid date.

> But then, where would I place this? In a generic "headers" schema, which would be an object with properties? kind of like what we do for request / response body and their properties today?

I don't understand the question.  I'm not proposing any new fields, just how to make better use of existing fields, just like we did for Media Type Objects in 3.2.

These are examples of how we might model something.  They're not PRs.  They're not intended for any particular piece of text somewhere.  I'm not worrying about how anything is deployed.  Those are all questions that are completely independent of _how we do the modeling_, and are no different from any other schema.  I don't want to drag all of those other topics into the question of "how might we model structured fields?"

Again, this is analogous to all of the media type modeling done in 3.2.  We did not invent new places to put anything for 3.2.  We just came up with ways to model different media types.

> If we take retry-after defined in RFC 7231 with the following ABNF:
> Retry-After = HTTP-date / delay-seconds

that's not a structured field header.  Only headers that normatively cite RFC9651 (or its predecessor, RFC8941) use the structured fields syntax.  `Retry-After` uses RFC7231 (now RFC9110) syntax, which will need different handling.

> Because the types aren't mutually exclusive. The string "abc" is a valid token, a valid string, and a valid display string. The number 1 is both a valid integer and a valid date.

Note that JSON Schema doesn't have any visibility into serialization.  The serialization of integers and dates are different (there's an `@` in front of dates).  This _could_ be a place to _also_ use `format`, although it would only be useful in the sense that the application would have to collect it as an annotation and check the serialization rules.  But `format` can be collected as an annotation, so you could then use it to either help serialize the value, or check the de-serialized value against its string.  This is the same issue with not being able to tell if a JSON number is serialized as `1` or `1.0` or `1.00` etc.

BTW, the reason `format` alone is inadequate is that it would only work on single-bare-item-value headers.  You need a schema to apply things to multiple values or lists or dictionaries or parameters.  But using both together might be the best option (as much as I detest `format` because it's not even remotely interoperable).

Thank you for the additional information.

> that's not a structured field header. Only headers that normatively cite RFC9651 (or its predecessor, RFC8941) use the structured fields syntax. Retry-After uses RFC7231 (now RFC9110) syntax, which will need different handling.

I suspect that "this header is not a structured field header" would trip a lot of people. How would we signal "these headers are fine to use with that syntax, these are not" from an OpenAPI object modeling perspective?

@baywet an example of structured fields would be [`Signature`](https://www.rfc-editor.org/rfc/rfc9421.html#name-the-signature-http-field) and [`Signature-Input`](https://www.rfc-editor.org/rfc/rfc9421.html#name-the-signature-input-http-fi).

I'm not sure I'd actually recommend people `$ref` these, necessarily, because it can get rather cryptic.  Again, by analogy with the work in 3.2, we didn't publish the SSE schema anywhere, it's just an example.

But I'll come back later and try to add something more concrete.  As I said in the meeting, I have not tested these schemas, they're meant to give a general idea of the design trade-offs.  Neither is a serious concrete proposal on its own.  This is all exploratory.

> How would we signal "these headers are fine to use with that syntax, these are not" from an OpenAPI object modeling perspective?

@baywet you are dragging in so many different things here.  This issue is only about how to model structured fields.  There are many other topics within the general "how do we manage headers" topic.  I'm trying to _not_ do everything all at once.

> Only headers that normatively cite RFC9651 (or its predecessor, RFC8941) use the structured fields syntax.

What headers do we know of that do this? We could pick one and start working through concrete examples with it.

@baywet @karenetheridge I would like to put this issue on hold until we have come to an agreement on use cases.  We may not even want to model headers like this at all.  I don't want to spend time digging into details here with an idea that might not even get used.

This was my error for commenting with some in-progress thoughts on modeling before settling the use case.  Your questions are are a reasonable response to my mistake, but it was still a mistake to open this part of the discussion.

Would it be more helpful to hide these comments for now to keep things on track with the use case discussion over in the meeting issue?

Hi folks. I stumbled again on this topic, and mybe there's a workaround to decouple SF from OAS.

```
components:
  headers:
    Foo:
      description: "Describe SF with a specific media type"
      content:
         application/http-sf:
           schema:
             TBD
```

This would move the problem outside OAS:

1. register (if it doesn't exist yet) an http-sf media type;
2. define for this media type a representation model like the one proposed by Henry, but in a spec/extension outside OAS

I think a similar solution could apply to JWT (I don't know if someone already implemented/used it, though). In that case, please let me know.

@baywet as of now, we've plenty of existing and future SF headers:

- Content-Digest, Repr-Digest, Signature, Client-Hints, ..

see https://datatracker.ietf.org/doc/rfc8941/referencedby/

@ioggstream if there is a media type for Structured Fields, then yes, we can define the data model in our [media types registry](https://spec.openapis.org/registry/media-type/index.html), which as you can see is outside of the specification.  Is a media type registration in the works somewhere?

The real problem here, though, is that the schemas above that I tried out for Structured Fields are all difficult to use.  In all seriousness, because we are struggling to get input from people needing this in the field: Are the schemas above ones that you would want to use?  I came up with them, and I have found them challenging (I'm not even 100% certain they are correct as-is).

Most actual Structured Fields do not use all of the features, and could be served by a simpler schema.  But that requires further registration of individual headers instead of generic processing of structured fields.

We've spent the whole  year so far wrestling with this problem (not just for Structured Fields but for RFC9110-style "common field rules" headers, and also keeping in mind that a number of headers have unique syntax rules for historical reasons).

At the moment, we have moved up an abstraction level to note that this usually isn't about modeling headers, it's about modeling the features/behaviors that the headers signify (see discusion #5310).  That doesn't mean we won't also provide some low-level header modeling improvements, but it's not clear to us that that's really where the need lies.

-----

We already plan to do this (register a media type model) for JWT and other JOSE constructs that have a media type — the only reason we haven't yet is that Security Schemes don't allow a place to specify those things in a useful way, so we need to fix that which is what I'm working on at the moment.