proposal: allowing type file for arrays as parameter

following parameter

```
{
  "in": "formData",
  "name": "file[file]",
  "description": "The actual file",
  "type": "array",
  "items": {
    "type": "file"
  },
  "required": false
}
```

is invalid, but intuitive correct and can be handled by the API.

I would propose, to allow all types for items as for parameter except `array` and `object` these should be reserved for body parameters defined as definition object.


Just to make sure I understand what you are proposing: 

This is allowing uploading of several files with one request, each of them in a form data part, each with the same name, like what is defined in [RFC 7578, section 4.3](https://tools.ietf.org/html/rfc7578#section-4.3).

This seems to be related to #694.

Hi @ePaul … yeap, this is what I want to propose, unless it gives a better way to document the uploading of several files including some meta-data (e.g. file-size)

See #878