Support all HTTP Methods

# Feature Request
### OpenApi support for all http methods 

## [RFC 2616](https://tools.ietf.org/html/rfc2616) updated by [RFC 7231](https://tools.ietf.org/html/rfc7231) ([errata list for 7231](https://www.rfc-editor.org/errata_search.php?rfc=7231))

- [X] OPTIONS
- [X] GET
- [X] HEAD
- [X] POST
- [X] PUT
- [X] DELETE
- [X] TRACE
- [ ] CONNECT

## [RFC 2518](https://tools.ietf.org/html/rfc2518) updated by [RFC 4918](https://tools.ietf.org/html/rfc4918) and [RFC 5689 for MKCOL](https://tools.ietf.org/html/rfc5689)

- [ ] PROPFIND
- [ ] PROPPATCH
- [ ] MKCOL
- [ ] COPY
- [ ] MOVE
- [ ] LOCK
- [ ] UNLOCK

## [RFC 3253](https://tools.ietf.org/html/rfc3253) ([errata list for 3253](http://www.webdav.org/deltav/protocol/rfc3253-issues-list.htm))

- [ ] VERSION-CONTROL
- [ ] REPORT
- [ ] CHECKOUT
- [ ] CHECKIN
- [ ] UNCHECKOUT
- [ ] MKWORKSPACE
- [ ] UPDATE
- [ ] LABEL
- [ ] MERGE
- [ ] BASELINE-CONTROL
- [ ] MKACTIVITY

## [RFC 3648](https://tools.ietf.org/html/rfc3648)

- [ ] ORDERPATCH

## [RFC 3744](https://tools.ietf.org/html/rfc3744) ([errata list for 3744](https://greenbytes.de/tech/webdav/draft-reschke-rfc3744bis-issues.html))

- [ ] ACL

## [RFC 5323](https://tools.ietf.org/html/rfc5323)

- [ ] SEARCH

## [draft ietf httpbis safe method w body 03](https://www.ietf.org/archive/id/draft-ietf-httpbis-safe-method-w-body-03.html)

- [ ] QUERY

## [draft snell link method 01](https://tools.ietf.org/id/draft-snell-link-method-01.html)

- [ ] LINK
- [ ] UNLINK

# Related Issues
#658
#1306
#480
https://github.com/swagger-api/swagger-core/issues/1760

# Iana link
Another link with methods and their RFC : [iana](https://www.iana.org/assignments/http-methods/http-methods.xhtml)

### This post will be re-edited soon to add a small description for all methods

Regards.



`HEAD` has been supported since at least Swagger v1.2 

@MikeRalphson updated, thanks.

> Given the mission statement of the OAS as "standardizing on how REST APIs are described" could you expand on how some of these HTTP methods are being used within REST APIs (e.g. the WebDav methods are often seen as tied only to that protocol by their definitions)?

Yes I think during next week I will edit this post to describe the methods, if they have a body, header, query, etc... how they should be used and some examples. I think it's what you want, if I understood your answer correctly ?

There is an inherent problem with REST because it wants to be very close to CRUD (Create, Read, Update, Delete) and even SCRUD (S for Search), but a REST API does so much more, like letting users subscribing and unsubscribing to a subject, users also want to connect to the API to have their data saved and secured, they will want to copy something, to move some datas, to lock their account, etc... that's what all these additional methods were made for.

For example to lock your account you could do a post to /accounts/lock with your token in header and in the post body add a parameter 'lock = true' but REST could handle it with just a LOCK request to /accounts and the token as a cookie header (or some encrypted data from localstorage as a token) which makes code clearer and really use the HTTP method verbose to add some logic in requests.

lock/unlock are described [here](https://tools.ietf.org/html/rfc4918#section-6.1) as 'lock model'.

GET will have query params, with optional body, whereas HEAD will have no body and POST has an obligation to have a body, then responses can have a body or not depending on the method. So I have some research to do on this to give the right definitions, I will update very soon.

From wikipedia : [http methods](https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol#Request_methods)

![httpmethods](https://user-images.githubusercontent.com/4013025/48322141-cf7af680-e604-11e8-8a76-ae4d92a83793.png)

Also there should be some methods to ignore, for example CONNECT which was made to create an ssl tunnel has, I think, no use anymore now with SSL/TLS certificates. But some could find a use for it, if they want to keep an http server and then control https connections opening.

[CONNECT METHOD description on mozilla](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/CONNECT)

> lock/unlock are described here as 'lock model'.

But my point is that `LOCK` and `UNLOCK` as defined there are for use within the WebDAV protocol. They have no defined meaning (on their own) outside that protocol. They may be tied to specific XML request / response formats (forgive me, it has been a long time since I read the WebDAV RFCs).

A picture may be worth a thousand words:

![image](https://user-images.githubusercontent.com/21603/48497405-f8310500-e82b-11e8-952a-34aec25f2f55.png)


I'd be open to considering allowing HTTP method be an unconstrained string.  I wouldn't want to re-enumerate all the methods in the IANA registry in the OpenAPI spec.  We should consider what benefit tooling derives from it being an enumerated type.

p.s. Wow, that Wikipedia table is misleading.  Describing a GET body as optional is just terrible.

> Describing a GET body as optional is just terrible.

Far too many people don't seem to understand that "has no defined semantics" is standards-ese for "FFS don't do this!" and not "sure, do whatever!"

What is the expected behavior if my Path Item Object has an x-lock field associated with an Operation Object?  Would that add Lock to the set of supported HTTP operations? If not, what else do we need to introduce these operations as Draft Features? 

I'm not against that in principle, like Darrel says, maybe open it up with an extension which allows any HTTP method?

Hello there, does anyone know if any effort has been made to create an extension which broadens the HTTP methods that can be described in Open API 3? Would like to take advantage of the SEARCH verb in my API but it looks like I am limited in my documentation at this time.

Given the ongoing work on HTTP & HTTPAPI I really suggest that we should:

- delegate methods support to HTTP
- add interoperability considerations suggesting to limit to the methods referenced in  7231 or I-D httpbis-latest 
- include the fact that tooling might not supporting methods outside 7231

cc: @MikeRalphson @darrelmiller 

I'd support changing it to "any method defined in RFC 7231 and RFC 5323" but I'm not sure what value adding all those other ones provides?

I think its a little telling that SEARCH was what necro bumped this otherwise inactive topic. Probably just SEARCH is fine.

@philsturgeon I just won't ossify OAS with method decisions which are outside the OAS scope.
If we want to provide stuff for implementers, we can say MUST 7231, MAY other methods.
Stuffing HTTP elements into OAS can become problematic because HTTP can change (Eg. see https://github.com/httpwg/http-core/pull/653/files).

@ioggstream I don't understand any individual parts of that reply let alone all of it together. I was saying "+ SEARCH" would be a good enough change to satisfy this issue because its the only one people seem all that fussed about. 



I found this issue because I am writing a document that describes a "PURGE" endpoint, which is a non-standard HTTP method but none-the-less is very much in use in my application.  Supporting any method matching the pattern `"^[a-z]+$"` would be very simple and straightforward; much more so than attempting to define a mechanism by which additional HTTP methods could be defined.

I found this issue because I'm writing docs to describe a **MERGE** endpoint (which is OData 1.0 and OData 2.0, but not HTTP spec), and really should have been written as **PATCH** but someone made an unfortunate decision years ago and that ship has sailed.  While I understand OpenAPI's mission is documenting true REST, adding this flexibility will help a lot in places where someone made poor choices and/or didn't understand REST very well, and the rest of us have to live with it.

My preference would be to have it allow any string, for the same reason @darrelmiller mentioned [above](https://github.com/OAI/OpenAPI-Specification/issues/1747#issuecomment-439063032). Really the decision of whether any given method is or isn't valid is the business of the service endpoint implementation; I don't see any value gained by having a general-purpose API tool make its own judgments on that.

However, if it is necessary to pick specific methods, I'll add one thing specifically about the `REPORT` verb. While it unfortunately is sometimes not allowed by HTTP clients, `REPORT` fills a specific need in HTTP APIs by being the method that 1. has a request body, 2. is idempotent, 3. is cacheable. `GET` can't (or shouldn't) have a body; `POST` isn't idempotent. Basically `REPORT` is what you would use if you want `GET`-like semantics but can't fit all the parameters into the URL.

@wparad:

> fundamentally there are tools that use this to implement and automate the spec. It doesn't do any good to enable bad patterns

I don't understand what's meant by "bad patterns" here. Documenting the actual behavior of a web service is not a bad pattern, even if you feel that the web service should have used a more standard HTTP method. The person writing up an OpenAPI spec may not be the person who implemented the service, and may not have any control over its behavior, so punishing them by making it impossible for them to write such a spec is not helpful.

> it doesn't exist for REST

There isn't a canonical REST specification that says what methods exist or do not exist. There are only conventions.

> and even if it did, none of the clouds support these verbs, so it wouldn't even have a real usage

I don't understand this statement either. Whatever set of commonly used web hosts you're referring to as "the clouds", those are not the only hosts that could be running services that have an OpenAPI spec. OpenAPI can be used for literally any HTTP application.

Please add the QUERY method: https://datatracker.ietf.org/doc/draft-ietf-httpbis-safe-method-w-body/

Please add the RAIN method.   All joking aside, in section 16.1 of https://datatracker.ietf.org/doc/rfc9110/ the framers intended to allow for extensibility of Methods.  If they didn't, I doubt they would have the registry https://www.iana.org/assignments/http-methods/http-methods.xhtml.   I have yet to find in the REST Document, https://roy.gbiv.com/pubs/dissertation/top.htm, that suggests the methods described in RF7231 and RFC5789 are only for REST. 

**Example:**
I want the target resource, Oregon, to RAIN.  I would issue:
 `RAIN /Oregon`

This would cause the resource Oregon to change its current State to RAIN on the server. 

What about changing the state of the target resource, Chicago, to WINDY, I would issue:
 `WINDY /Chicago`

 It shouldn't matter to the OpenAPI specification what choices the server/implementer makes to support.  I believe that is the flexibility of OpenAPI.  The alternative is using an existing verb to do this which IMHO seems like an anti-pattern.  

In anti-pattern case, the above examples might be:
  `POST /Oregon/actions/RAIN`
  `POST /Chicago/actions/WINDY`
 

Where are we at with this? As I (and many others) suggested above, we could remove the individual `property` declarations for get, post etc in the schema and replace them with:

```
patternProperties:
  ^[a-z]+$:
    $ref: '#/$defs/operation'
```

This would be a fast and easy win for 3.1.1.

@darrelmiller maybe pop this one on the agenda for the next meeting? I'll come pester you folks on the call to chat about it. Seems like an easy win to just let operations be anything.

Tooling can stick to working with what it knows and warning against invalid. 

Documentation can show what it knows and ignore what it doesn't, or just generically show everything.

Linters can validate against whatever current RFC they like and complain if you're using `NONSENSE` or whatever.


I feel like there has to be something more than just "everything could be a path". Without some sort of identifier, it impossible no tell the difference between:
* A method
* A not yet supported property

In reality we should just have all the methods under a property called "methods" just like all the paths are under "paths". Please don't allow both patterned properties that are * and also defined properties. Everyone is going to have a bad time.

It would be much better to introduce a new level called "methods" with the pattern properties of any word character of any length. And then tools could merge the two lists together. Easy. Take the known list at the top and merge it with the dynamic methods list.

Then we just mark the top level methods as deprecated in favor of the methods as a sub property of "methods"


@wparad so it would be MethodObject with a defined set of Methods (which the OperationObject https://spec.openapis.org/oas/latest.html#path-item-object contains now ie. get, post, put, patch, etc.)  along with a user defined dynamic list of additional Methods.

So glad to see this moving forward!  Postman has had this since 2018
https://blog.postman.com/custom-http-methods-more-flexibility-and-autonomy/

@ScotMeyer 
> An anti-pattern case, the above examples might be:
> POST /Oregon/actions/RAIN
> POST /Chicago/actions/WINDY

My reading of the REST Uniform Interface constraint is that inventing new service specific methods would actually be the antipattern.

> The central feature that distinguishes the REST architectural style from other network-based styles is its emphasis on > a uniform interface between components ([Figure 5-6]
> (https://roy.gbiv.com/pubs/dissertation/rest_arch_style.htm#fig_5_6)). By applying the software engineering principle 
> of generality to the component interface, the overall system architecture is simplified and the visibility of interactions 
> is improved. Implementations are decoupled from the services they provide, which encourages independent 
> evolvability. 

I do agree that the existence of the [HTTP method registry](https://www.iana.org/assignments/http-methods/http-methods.xhtml) indicates that adding new generic methods should not require a specification update and therefore constraining OpenAPI to a limited set of methods is probably not ideal.  

Thanks to @philsturgeon  for raising this up to discuss in the TDC meeting https://github.com/OAI/OpenAPI-Specification/issues/3295  

We did consider all the proposals discussed in this thread.  In general there appeared to be consensus that supporting just the current set of methods is unnecessarily limiting. The current design of pathitem using fixed fields to identify methods is problematic in that new HTTP methods might conflict with current or future properties of pathitem.  It is worth noting that the future [moonwalk proposal](https://github.com/OAI/moonwalk#simple-example) doesn't suffer from this same design constraint.

Here are the options we discussed:

1. Add some additional subset of the methods defined in the HTTP registry as fixed fields to the pathitem object.
2. Add a property such as `otherMethods` to path item to enable adding additional methods to a description.
3. Recommend the use of an extension such as `x-method-{method}` to describe other HTTP methods.

The challenge with (1) is how do we pick the methods we want to include? Including all of the methods in the HTTP registry seems like overkill and won't help us as soon as new methods like `QUERY` are added.

Adding an official `otherMethods` solves the problem of naming conflicts but it doesn't really help driving support in tooling.  Tooling vendors need to implement explicit support for merging these collections.  Considering this solution is not something that would move forward into moonwalk we are concerned that we will see very little tooling support for it.

Encouraging the community to leverage extensions as a solution to "extending" OpenAPI seems like the right tool for the job.  By following a pattern that uses the x-method- prefix we give an opportunity for tooling to add support for this extension and we can measure the interest in this capability based on presence of the extension with OpenAPIs documents and support in tooling.  This will help guide us when it comes to moonwalk and whether we allow the method property to be any string or a known subset of strings.



@darrelmiller 
> Adding an official otherMethods solves the problem of naming conflicts but it doesn't really help driving support in tooling. Tooling vendors need to implement explicit support for merging these collections. Considering this solution is not something that would move forward into moonwalk we are concerned that we will see very little tooling support for it.

We are a tool vendor specifically [Open API Explorer](https://github.com/Rhosys/openapi-explorer#beautiful-and-responsive-api-explorer-and-console) and we **Absolutely** do number `2`. Adding an `Object.assign(methods, spec.paths.path.otherMethods)` is a one line code change. It can't be any easier than that for us. Any other expectation is a huge burden.

`x-vendor-...` are terrible ideas, so we cannot support `#3`. This is the fastest way to ensure that ever spec has non-consistent extensions and already causes a huge mess. When our users covert from one library to another the fact they already have to convert half of their x- is quite the overhead.

### Please let's add `methods` to the `pathObject` and then in spec version `4.x` remove the legacy ones that hard coded into the path object itself.

Just leaving my two cents here:

> Please let's add `methods` to the `pathObject` and then in spec version `4.x` remove the legacy ones that hard coded into the path object itself.

I'm with @wparad on this one... 

This whole issue could've been avoided if all HTTP methods are described in `Path Item Object->[some-property]` instead of directly under the [`Path Item Object`](https://spec.openapis.org/oas/latest.html#pathItemObject) itself.

Introducing new property such as `methods` to [`Path Item Object`](https://spec.openapis.org/oas/latest.html#pathItemObject) as future container for all possible HTTP methods (e.g, `methods->get`, `methods->post`, etc) and start deprecating `get`, `put`, `post`, `delete`, `options`, `head`, `patch`, `trace` in favor of `methods` property, IMO, is the better solution than using vendor prefix or extension prop such-as `x-method-{method}`...

Moonwalk already has the notion of a method property in each request object. Therefore this issue will be  resolved in v4, if we continue our current plans. 
I would like to understand more about why the x- in front of "othermethods" is such an problematic solution.
Even if it were included in some future 3.x version there would only be partial support for it in the ecosystem.


It's simple really, a `methods` is forwards compatible with a future state, hacking in recommended support for `x-` is not. If we want code generators and other tools to work out the box, already going with a solution that matches the future is the right path. Which means the question becomes, what so bad about the solution that aligns with the future? That is why would we not just add the `methods` object in 3.x?

Looking at it another way, all we need to do is think about what this looks like in reality to see why it is a problem. Simple story:
> customer: We use custom method `OtherMethod` but your tool doesn't support it.
> us: Oh that's because it isn't supported in 3.x
> customer: According to the specs you should accept `X-OtherMethod` when can you support that
> us: Sigh, okay....
>
> .... Later....
> us: Okay now we are on version v4 where methods is supported, let's add support for the `methods`!!! :tada: 
> also us: Wait, what should we do about the 100 different X-OtherMethods that we support now, there is all this tech debt. Let's remove it
> customers: PLEASE DON"T REMOVE THAT WE NEED IT
> other customers: WHY DID YOU BREAK OUR SPEC
> still others customers: This was working until version V of the tool, what happened?

Also it's impossible to get X-method correct, we aren't going to hard code a list of x-methods in our tools to support this, which means any solution would need to support auto-enumeration, that's just a mess.

So let's go back to, the obvious solution is to already add a `methods` object, which is the only solution aligned with being future proof, what's stopping us from having that?

@wparad Sorry if I confused the situation.  A property called "methods" is not aligned with the future plans.  Looking at the example from the moonwalk repo https://github.com/oai/moonwalk#simple-example you can see the currently proposed future direction.  Each pathItem contains a set of named request objects, and each request object has a method property.  That method property we can enable to be any string.  This is a very different solution than adding a 'methods' array property or using a x-method-{method} extension.

```yaml
openapi: 4.0.0
info:
  title: Simplest thing that works
  version: 0.5.0
paths:
  "speakers":
    requests:
      createSpeaker:
        method: post
        contentType: application/json
        contentSchema:
          $ref: "#/components/schemas/speaker"
        responses:
          created:
            status: 201
      getSpeakers:
        method: get
        responses:
          ok:
            status: 200
            contentType: application/json
            contentSchema:
              type: array
              items:
                $ref: "#/components/schemas/speaker"
    pathResponses:
      notFound:
        status: 404
        contentType: application/http-problem
apiResponses:
  serverError:
    status: 5XX
    contentType: application/http-problem
components:
  schemas:
    Speaker:
      type: object
      properties:
        name: 
          type: string
```

Thanks, I hate it :sweat_smile:. What I was calling `methods` the Moonwalk repo has denoted as `requests`, so that's 1:1, and makes sense.

So while that is slightly better in one direction, we've reintroduced the same problem but much worse this time.

We now have the worst of every world where the keys of requests as named properties. This is absolutely terrible. Can we please have `requests` be an array, keeping the `operationName` property? Or to keep with the consistency of what we have, why not instead of `requests` call it `operations` and have the array contain the list, with each item having a `method` and a `name`.

:pray: Please for the love of sanity that the requests not be a dynamically keyed object.


The general feedback we get is that people prefer maps over arrays.  Arrays infer ordering that isn't necessarily significant.  Arrays are harder to modify.  Personally, I don't feel very strongly about the issue.  However, when editing the OpenAPI document in an editor that outlining, the key provides a very nice summary of the collapsed region.

I used the term request because that is the term that HTTP uses.  Over the past few iterations we have attempted to move OpenAPI closer to the terminology and semantics of HTTP.

> Arrays infer ordering that isn't necessarily significant

Order is incredibly important for us. I'll repeat that again, WE MUST KNOW THE ORDER OF OPERATIONS. Users that use our tools need to tell us the order, so either order is defined in the spec or we need arrays. And our tool is not the only one, it isn't like I'm saying "this one little edge case, for our needs, let's change everything", but this is an actual problem. Order does matter, and it matters to some non-zero set. We lose that.

There are tons of clients in the world, it doesn't make sense to optimize for one (i.e. the UI editor) at the expense of all others. Sure editing maps is easier, but we lose actual value and features by doing so.

So let's compare:
* Some tools need order
* Some tools want easier to manage data to collapse maps

One is a need, the other has a workaround. Why wouldn't we support the value and not disable that.

Also to the point:
> However, when editing the OpenAPI document in an editor that outlining, the key provides a very nice summary of the collapsed region.

Any editor that is doing this is deciding on arbitrary semantics, they can just as easily look at the `name` property of the `requests` object, done.

> If this is really the way the version 4 of the spec is going, OMG, how do I get involve to stop this madness?

The OpenAPI specification development process is an open one.  https://github.com/OAI/OpenAPI-Specification#participation  You are welcome to contribute.  You might find you are more successful at influencing the direction if you try and avoid describing other people's efforts as madness though :-)




> Some tools need order

x-mytool-sequence: 1

Just because one tool needs to be able to present content in some user defined order, doesn't mean that the right solution is to chose a JSON array to represent the ordering.  Maybe the user doesn't want the ordering to appear in the way that it is added to the API description.  There are pros and cons to every design choice.  The use of arrays in OpenAPI 3.x for parameters has been challenge for a number of scenarios.  It makes the work being done on Overlays considerably more difficult, for example.

@wparad 

>What I was calling methods the Moonwalk repo has denoted as requests, so that's 1:1, and makes sense.

requests and methods is not actually 1:1.  One of the reasons for introducing requests was because we regularly get asked to allow creating multiple operations for the same HTTP method.  Requests will allow us to do this because they are discriminated on more than just method.  Requests could be distinct based on URL parameters, HTTP headers, or methods, or possibly even values in the payload.  This will allow people who are using HTTP to do RPC APIs to be able to describe their APIs.

> You're right. Linters don't care about the order. Client code generators don't care. Server code generators don't care about the order.

Ha, arguably all of these could care about the order. There are far too many linters out there that that complain about the order of imports or the order of methods in a class. The same goes for the other ones as well. Order of request properties. Can you imagine code generators creating method arguments not in a stable order?!

Sure our solution can add `x-sequence-order: 1`, but the problem is that it really isn't just document generators, any tool may or may not care about the order, and the fact we can sit and say "order" like it is some abstract concept points to the intrinsic value of capturing it. Yes, many tools may not care about it, but many tools definitely do.

Here's another problem with the `x-sequence-order`, often the input of one tool is the output of another. And it is near impossible to make most tools support custom tagged properties to insert these at the right place. Sure some of them do it but others not. I think opting for a pit of success here is the better direction.

Responses is weird because they can be sorted by their status code, arguably the keys for that object could be `status codes` instead strings, and then it wouldn't matter, because those are both sortable and predictable. People generally like 2XX responses to take priority over 3XX, etc... But request keys is just unfortunate :(

---

> requests and methods is not actually 1:1. One of the reasons for introducing requests was because we regularly get asked to allow creating multiple operations for the same HTTP method. Requests will allow us to do this because they are discriminated on more than just method. Requests could be distinct based on URL parameters, HTTP headers, or methods, or possibly even values in the payload. This will allow people who are using HTTP to do RPC APIs to be able to describe their APIs.

Cool! I don't really care about the naming, so that was an unnecessary tangent I may have led us down. For instance our tool doesn't care what's in the path string, which allows most of this flexibility today as long as it is contained in query parameters. But I can imagine a similar need for header discriminators. And arguably separating `requests` will be easier to consume than `OneOf` bodies and the need for coupled responses based on the request body, which isn't possible today. So that sounds like it is going in the right direction.

OK I'm going to ignore all the Moonwalk stuff which belongs in the Moonwalk repo, where there are discussions for various things including objects vs arrays and ordering.

@darrelmiller it sounds like endorsing an `x-method-` strategy is one option, which could work across all of 3.x.  We could create a specific registry for HTTP methods to account for any special considerations involved, and help track interest.

Alternatively, we could actually allow additional non-`x-` fields in 3.2.

@OAI/tsc review request: What is the best path forward in 3.x?

As @karenetheridge suggested, in 3.x

> we could remove the individual property declarations for get, post etc in the schema and replace them with patternProperties

In Moonwalk I'd lobby for using a `requests` array to have an explicit order of the Request Objects, and a `method` field with an open/extensible list of values.

I understand that the topic of this issue is "Support all HTTP Methods" and this will probably be implemented in moonwalk. But wouldn't it be possible to create an in-between solution, for instance API Spec 3.2 which adds just a few of the most requested methods like SEARCH and QUERY? I think these methods are really useful and fall within the scope of REST. It would be easy to implement and the tooling could be available quickly. On the contrary if we have to wait for moonwalk + tooling we will be several years out.

Let's be pragmatic here, We've been waiting patiently for years on this and in this information age can we really justify waiting several more years if it can be implemented in a matter of months in a 3.2 spec in the mean-time? 

@Richie765 can you point to places where SEARCH and QUERY are implemented?  And is that WebDAV SEARCH (I think we're rightfully wary of getting involved with WebDAV) or a different SEARCH, and how do we tell/enforce the difference?

I think one reason this has never gained traction is that QUERY still doesn't have a spec and it's not clear (to us) that there's enough usage to define consistent behavior.  I think if QUERY ever made it to RFC it would be quickly adopted here.  I think most of the other potential methods are either WebDAV or don't have clear use cases for description (CONNECT).

> @Richie765 can you point to places where SEARCH and QUERY are implemented? And is that WebDAV SEARCH (I think we're rightfully wary of getting involved with WebDAV) or a different SEARCH, and how do we tell/enforce the difference?
> 
> I think one reason this has never gained traction is that QUERY still doesn't have a spec and it's not clear (to us) that there's enough usage to define consistent behavior. I think if QUERY ever made it to RFC it would be quickly adopted here. I think most of the other potential methods are either WebDAV or don't have clear use cases for description (CONNECT).

I feel like this may not be a full justifiable argument. It doesn't get usage because technologies don't support it. Technologies don't support it because people aren't using it. People don't use it because there is no spec. There is no spec because people don't use it enough.

Please let's make the world we want to enable to live in and not wait for others to do something that they are totally incentivized against.

If you don't believe there is sufficient usage to tell us how it works, there's an RFC already underway, does that answer any confusion that you believe still exists?

@wparad the reason I'm bringing up the stable published spec issue is that it impacts how much of a challenge support will be for implementors.  Our primary concern with 3.2 is that it add significant value with minimal implementation cost (so we don't have another "minor" release that takes 3-4 years to implement, although 3.1 was always viewed as an unfortunate but necessary special case).

Now, obviously, we don't _have to_ have a stable published spec to use something (ahem, JSON Schema...), but it is something that people bring up and we need to have an answer for it.

So the reason I asked about usage is that if we can point to some reasonable number of APIs that implement it _consistently enough that OAS support would be straightforward_, then that's one way out of the chicken-and-egg problem.  On the other hand, if there are QUERY implementations out there but they somehow contradict each other, that's a problem for OAS implementors.

> If you don't believe there is sufficient usage to tell us how it works

I don't know one way or the other, that's why I'm asking the person who said it's in use and therefore we should support it.  I would love to have time to research every point everyone brings up in an issue, but I don't, so when someone seems they might know, I ask them.

3.2 is very much a "do no harm" release in my view.  If we mandate QUERY support, but the usage of QUERY in the wild is not consistent enough for that support to be succesful, that would be harmful.  It would create implementations that can only work with some usages of QUERY, frustrating those dealing with a QUERY usage that doesn't match what some particular implementation chose.  We need to not introduce interoperability problems of that sort in our spec.

If you are frustrated with the lack of spec for QUERY, I suggest joining that effort.

As a company that desperately wants to use QUERY and as one that has more than one tool in the openapi.tools website, this would be trivial for us to support predictable named additional verbs. Supporting all verbs is not trivial, but adding N more is incredibly easy. As far as we can tell on both sides, everyone wants this. No one is against it, and there is no confusion (from my limited experience) on how this would work.

Pleas, please have support for it (/them) in a 3.2 version.

I was under the impression that there already was a spec for QUERY but I see now it is just a draft. 

I could not find an API that yet uses QUERY (I only did a quick search though). But it is easy to find API's that use GET with a request body (Elasticsearch) or use POST to retrieve data (GraphQL, SOAP). In these cases it is clear to me QUERY would be a better option. It is simply not realistic to cram this kind of queries into URL parameters. For this is why QUERY is coming into the picture. I think this just common sense but the creation of these standards is just not very fast.

I understand the importance for established standards but at this stage the IETF draft is already at a 3th publishing. Let's reverse the question. What is against adding query into OAI 3.2 as an experimental/draft feature. What could be a stronger argument than opening a path to eliminate incorrect usage of GET/POST.

To make one thing clear:  I'm not the person who will decide whether this goes into 3.2 or not.  I'm mostly trying to anticipate what questions would come up on a weekly call when we discuss this request as we do 3.2 planning.

@wparad @Richie765 what slightly concerns me about your most recent comments is that it feels a bit like you are looking to the OpenAPI Specification to help get QUERY out into the wild.  That really should not be our role:  that is the job of the IETF.  I don't know why that RFC is still in draft (I'm not entirely sure how active it is, although the last time I asked someone who might know, they thought it was still active even if currently expired).

I went and read the current QUERY draft, and there are some interesting subtleties to it.  I do wonder if one reason for the hesitation is to try to be more clear about query media types than the PATCH RFC was about patch media types (I remain amazed at how few people even know about patch media types and `Accept-Patch`).  If QUERY is to be more interoperably successful, it should be more clear what sort of media types to use up front.  The existing form media types would be obvious, but the RFC uses more-or-less raw SQL as an example.  Which seems like a rather questionable design choice from a security perspective.

I suspect the defined semantics of the response are also not necessarily what people expect.  It's not semantically equivalent to a GET because it doesn't have the same correspondence between the URI and the representation (which is the entire point of QUERY, so that makes sense).

Anyway, my point is not to debate the QUERY RFC but to note that it's not quite as straightforward as it might seem at first, and while I would strongly prefer to set things up so that _if_ QUERY makes it to RFC status, it can be used in OpenAPI in accordance with that RFC without us having to do an update.  But I suspect there will be concerns over getting ahead of the IETF process here.


Just allergic to arguments that I struggle to follow. However, I also don't think it being in the 3.2 spec would make significant enough impact to justify having that perspective. The thing that will make it happen is cloud providers supporting it, with or without the QUERY RFC.

I will say, I can't see ambiguity in the QUERY spec having a meaningful impact to adding the 7 characters to the allowed methods `[',', ' ', 'Q', 'U', 'E', 'R', 'Y']` would increase complexity or cause problems. It will have to be done at some point, assuming the RFC is finalized, there doesn't seem like an obvious reason not to add that to the 3.2 version of the spec.

@handrews I also find this looking for nails at low tide. I can't see the relevance of it. All the HTTP methods are similar and they can be used in many different ways with different body content types, headers, etc. It is up to the application to decide what is correct.  For one application it will be JSON, for another a text-based query language, CSV, or whatever is suitable. 

OpenAPI is used as an API description language to generate documentation, mock servers, API clients, etc. OpenAPI does not dictate how we should use the methods exactly. It doesn't do it for POST, GET, etc so why should it be a concern.

Let's get back on track to the issue at hand. I thought it was already decided that in OpenAPI standard 4.0 _ALL_ HTTP methods would be supported (hence the title of this issue). This is the reason I am here and nothing else. I already described important use-cases. The draft specs are in their 3rd iteration.

In addition I like to emphasize it is common that software supports draft standards as experimental features. For instance I was recently working on SSL ESNI, this is still just a draft after many years but it is supported by all browsers and many web-servers. This happens all the time and is part of how things work in the industry.

Anyways I don't intend to spend much more time on this. I think I've done my best it is now up to you guys to make a decision whether you're gonna make the 1 line change or not.

I expect this will be looked at for 3.2.  I was trying to flush out more points in favor prior to discussing it with the TSC, but it does not feel like anything has moved since this discussion last paused.  I personally lean towards including more, and detest `x-`-prefixed anything, but those aren't opinions that get things into the spec.  Proven usage and/or published specifications are much more compelling, but it doesn't sound like much has changed on either front.

@handrews Ok thanks for that and for discussing it with the TSC, let's see what comes out of that. I think in the end it boils down to the question if and how OAI can/will incorporate draft standards. If you want to play a role in progress or stand on the sidelines and watch others doing it first. Well, the rest has been said already.

According to [RFC9110, 9. Methods](https://www.rfc-editor.org/rfc/rfc9110.html#section-9) the request method is

~~~abnf
method = token

token = 1*tchar
tchar = "!" / "#" / "$" / "%" / "&" / "'" / "*" / "+" / "-" / "." /
        "^" / "_" / "`" / "|" / "~" / DIGIT / ALPHA
~~~

and

> The method token is case-*sensitive*

This means we could allow **Patterned Fields** for the Operation Object with
* the field pattern following the `method` rule, 
* the field value being an [Operation Object](https://spec.openapis.org/oas/latest.html#operation-object),

and some restrictions:
* Method names MUST NOT be identical to one of the existing fixed fields of the operation object
* Method names MUST NOT start with a lowercase letter to avoid clashes with new fixed fields added by later versions of this specification
* Method names MUST NOT be uppercase versions of the existing field names for HTTP methods, that is `GET`, `PUT`, ... (list all of them here), `TRACE` MUST NOT be used

This would allow to add `QUERY`, `SEARCH`, and whatever OAD authors find useful, and OpenAPI tools can digest whatever they want to support.

Sanity check:
* [`axios`](https://axios-http.com/) allows to send requests with any HTTP method
* [`express`](https://expressjs.com/en/4x/api.html#app.all) in principle allows receiving requests with any HTTP method
* Node.js has a [hardcoded allow-list of HTTP methods](https://github.com/nodejs/node/blob/main/deps/llhttp/include/llhttp.h#L331-L366) which includes `SEARCH`, and includes `QUERY` [since v22.2.0](https://github.com/nodejs/node/issues/51562#issuecomment-2151103116)

I've added this to the 3.2.0 milestone- this does _not_ mean that it will necessarily be included, but does ensure that we look at it as we plan the release.

> I'm not entirely sure how active it is, although the last time I asked someone who might know, they thought it was still active even if currently expired

@handrews Every 6 months, the IETF expires a draft and publishes a new version of the draft, so the link up top should be updated to the most recent: 
+ https://www.ietf.org/archive/id/draft-ietf-httpbis-safe-method-w-body-06.html

As to how active the proposal is, you can see a lot of revisions in the GitHub history of the source document here: https://github.com/httpwg/http-extensions/commits/main/draft-ietf-httpbis-safe-method-w-body.xml

There have been few impactful changes since the rename of the method to QUERY. The [IETF HTTP Working Group](https://httpwg.org/) is continuing to flesh out the documentation for this extension and its implications for how it interacts with various other standards and edge cases before getting approval for publication by the Internet Engineering Steering Group (IESG). It's relatively uncontroversial, they are just polishing now.



Sorry, my bad on not noticing your question was made during the gap. Thanks for your work!

@ralfhandl Regarding this:

> Method names MUST NOT be uppercase versions of the existing field names for HTTP methods, that is GET, PUT, ... (list all of them here), TRACE MUST NOT be used

Is there any reason not to allow the all-caps forms as aliases for the existing lowercase forms and just make it an error to use both forms for the same method?  It would allow consistency going forward at what _feels_ to me like a minimal implementation cost.  We an actually enforce things like not using both `get` and `GET` through the schema.

But I might be missing something here.  I'm really just interested in which option is the most benefit for the least impact.  If more folks feel like "lowercase for the predefined methods, uppercase for anything else" is easier to think about, I'm all for that!

Actually I'm at odds with the existing lower-case fixed fields for HTTP methods because [RFC9110, Section 9.1](https://www.rfc-editor.org/rfc/rfc9110.html#section-9.1) states that

> The method token is case-sensitive because it might be used as a gateway to object-based systems with case-sensitive method names. By convention, standardized methods are defined in all-uppercase US-ASCII letters.

So `get` is an allowed HTTP method and may mean something different than `GET`, and the existing OpenAPI fixed field `get` is misnamed.

There are several ways to fix that going forward and stay compatible with existing OpenAPI versions. The "baseline" rule should be

1. New fixed fields for standard HTTP methods use HTTP casing: `QUERY`, `SEARCH`, ...

We could then discuss what to do with the existing fields:

2. Uppercase synonyms for the existing fields `get`, ... are
   1. forbidden (this would reduce burden on implementations)
   2. allowed and have the same meaning as the existing lowercase fields (this would be forward-compatible and put some burden on implementations)

And optionally

3. The existing lower-case method fields `get`, ... are deprecated.







@ralfhandl Since we have something that's not as correct as we'd like (`get` needing to be changed to `GET` internally to be used), implementors will have to do something here anyway, and the amount of extra work is extremely small.  Let's just fix thing to properly use uppercase everywhere.  There are several ways we could try to make that easier on implementors.

Another option would be to say "if you use _any_ all-caps method fields, you MUST _only_ use all-caps method fields."  This preserves the lower-case fields for backwards compatibility, but avoids awkward jumbles like `GET: {...}. put: {...}, QUERY: {...}, patch: {...}`.

@ralfhandl a benefit of this approach:

 > Another option would be to say "if you use _any_ all-caps method fields, you MUST _only_ use all-caps method fields." 

is that it fits with something I've been feeling increasingly strongly:  It's better to add a new mechanism that is _as correct, complete, and coherent as possible_ alongside a less-correct, less-coherent, less-complete existing option than it is to keep  trying to patch the old thing.

In this case "all all-caps fields are treated as HTTP methods taking an Operation Object" is the correct, complete, and coherent approach.  The limited set of lower-case fields are retained for compatibility, and allowing only one approach or the other simplifies the implementation (you have to support both, but the "weird" one is already supported, and as soon as you see something trying to mix them, you can error out without having to do anything else).

Allowing a mixture of old and new actually makes things less coherent, because now there are many not-quite-correct combinations that need supporting, which has no clear use case (if you can add QUERY or whatever, you can upper-case your other methods as it has no impact on the API itself) and makes support more complicated.

@handrews @ralfhandl I'm happy to see this in the 3.2 milestone. I was just looking at using QUERY today.

The pragmatic part of me feels:
* While methods are case sensitive in HTTP, in practice, I've only seen uppercase methods.
* If we change to requiring uppercase where we previously (erroneously) required lowercase, that's another logic branch for implementations supporting multiple versions.
* Can we just ignore the error and move on?

The pedantic part of me feels:
* I'm incredibly irked that it's always been erroneous.
* We shouldn't restrict methods to a pre-determined list.
* Changing from a set of JSON names to a user-defined string actually simplifies implementation logic.

How much we lean on pragmatic vs. pedantic in a minor version release is up for discussion.

@kevinswiber What's wrong with the approach I suggested in the previous comment, of allowing lower-case fields for compatibility, but requiring you to use all-caps if for all of the fields if you want to add newer / custom methods?

We can't drop the lower-case fields because of compatibility guarantees.  Are you proposing that we keep those lowercase and *only* support new methods in uppercase?

The constraints here are:

* We can't drop the old fields because of compatiblity
* We can't just say "use whatever you want" because we define some lowercase fields that are _not_ methods (even if it is highly unlikely that those field names would be used for custom methods, it's never impossible, and we should avoid creating collisions)

No matter how we add this, there is the risk of someone defining both `get` and `GET`, etc.  I'm searching for the simplest way for tools to perform error checking.  I think it is more confusing to allow mixing and matching, as then you have to check for each possible duplication separately.  It makes more sense to me to say "you can write this Object in compatibility mode (with pre-defined lower-case fields) or new mode (with open-ended upper-case fields), but not a mixture of both."

@handrews happy to take this one on if you want :)

@handrews I'm not too fond of allowing a mixture of casing, aesthetically. It would offer a bridge to the next major version while enabling new features in the current major version release line, and I _do_ like that.

In 3.x, we can say the original set of lowercase names are reserved, that they map to the uppercase HTTP methods, and that when parsing uppercase/mixed-case variants of those reserved names (get, put, post, delete, etc.), implementations MUST ignore those operations.

```
get: 
  # fine...
QUERY:
  # fine...
GET:
  # ignored...
```

I would feel more comfortable if we had a firm decision to support HTTP methods as they're defined in the next major version of the spec so we know for a fact that we're offering a conceptual bridge (not necessarily a syntactic one).


@kevinswiber I think I'm not really getting my point across here.  Let me add some examples.

First, something like `GeT` would never be allowed.

This would be fine as it would basically be in "compatibility mode":

```YAML
get: {}
post: {}
```

This would be fine as it would be in "3.2+ mode":

```YAML
QUERY: {}
POST: {}
```

This would **NOT** be fine, because QUERY wasn't supported in 3.1:

```YAML
query: {}  # ERROR!
post: {}
```

This would **NOT** be fine, because you're mixing modes:

```YAML
QUERY: {}
post: {} # ERROR! Use of lowercase along with uppercase
```

> I would feel more comfortable if we had a firm decision to support HTTP methods as they're defined in the next major version of the spec

None of this is about 4.0.  I assume we'll do something sane like match the RFC case and not mix method fields with non-method fields.  But whatever we do, that will be in the Moonwalk repo.  This is just about 3.2.

@handrews Thanks for the examples! I see what you're saying now. This moves the complexity around a bit. I'll have a think on this!

Yeah, "moving the complexity around a bit" is pretty much the only option I see.  Because of compatibility, we can't do the absolute simplest thing.  To me, the next simplest thing is "there are two options, and you can immediately tell which one you are in or if there's an error of trying to do both without having to individually compare every potential method field to find collisions."  It's easy to code the check, easy to explain to users because it avoids "SHALL be ignored" behavior.

@baywet 

> @handrews happy to take this one on if you want :)

Please feel free once Kevin and I resolve this last little bit!

@handrews This is a big change. Is it time for an experimental features mechanism? That way, authors and tool makers can opt-in.

```yaml
features:
  method-http-compatibility:
    enabled: true
```

That way, we don't necessarily break 3.x, but we extend it in a way that could eventually make it into a future OAS release. It also lets us test ideas over time. We could have companion feature RFCs before stabilizing them into a release. This also lets us back out of decisions that prove unhelpful over time.

@kevinswiber This feels like you think we're breaking something.  What do you think that we're breaking?  I don't think there's any breakage at all.

@kevinswiber I think I need to understand exactly what you think the tooling impact of this change is and why it is such a problem.  And let's compare it to as if we did not have a namespace or casing problem, and all we were doing was saying "yeah you can specify any method now" (just pretend we don't have to worry about name collisions on that).  Because there's plenty of enthusiasm for that change, the only wrinkle is how to handle comatibility.

So what is the cost here, and why is it so high as to need additional caution?

@handrews I think implicit compatibility mode base on casing is going to be very confusing for authors. I'm looking at ways to make it more explicit.

@kevinswiber Ah, I see.  For compatibility reasons we can't require someone to specify that it needs to be in compatibility mode.  I'm *very* reluctant to add feature flags in general.  I've seen that path before and it becomes a nightmare very fast.  But this is worth discussing in more detail, as once we get to 3.3 we will have more situations where there are "new" and "old" ways available.

Global flags are rarely sufficient, as the scope of "global" is complex in a multi-document OAD, and many people will not want to change old endpoint, just use new features in new endpoints.

So I could see using a flag in the Operation Object itself, which would reduce the inevitable pressure to throw in billions of feature flags for this that or the other, and preserve flexibility.

@kevinswiber if we don't *want* to have per-Operation flexibility, I'd be more in favor of a flag that changes between compatible and new modes globally, rather than per-feature.  That simplifies tool development (you're in one mode or the other, no matter whether you're doing HTTP methods, parameter descriptions (likely to change in 3.3), or what.   It does put more work on API description authors to migrate their whole OAD, but if we provide migration tools then that's less of a community burden than the burden on tool developers.  And it avoids complex matrices of feature flags.

Adding my notes from the meeting.

Goal: allowing arbitrary methods, not just a known set (my original assumption)

Problem: the new methods, or custom ones, might conflict with already defined fields on the path item object (e.g. parameters)

Solutions:
- Allow arbitrary methods, except for "reserved" names (e.g. parameters)
- Only allowing a known set, makes it challenging to people using custom methods.
- Deporting to a sub object e.g. openOperations for anything that's not known in advance. Poses a challenge for overlays and parsers, having to collect things from both places.
- Special casing for all the arbitrary methods. A bit strange, but probably the least of all evils at this point. Decision on mixing casing or not still need to be made.

from the meeting:

Our goal should be: a 3.1.1-valid document should continue to be valid in a 3.2 implementation. If you want to make use of new-in-3.2 features, you might need to make changes to your document, but these should be clear and obvious in a migration guide (and for this feature, limited to just the path-items where you are making use of new HTTP methods) and also easy to implement in tools.

I'm envisioning a "3.2 migration guide" to be published, with information both for OpenAPI description authors (end-users), and for tooling vendors.  This guide can describe algorithms that tools can follow to detect the error cases and give suggestions for how to communicate the errors to the users.

This (supporting arbitrary method names when all-uppercased) is not a high burden for anyone editing definitions in a tool (as the tool will be able to do this for you in the places that need it), and if you're editing by hand, an implementation should also be able to clearly identify what the errors are and how to fix them.



An few additional things we need to keep in mind is to include wording to the effect that:

* Implementations are not required to understand method-specific rules outside of the methods defined in RFC9110 and RFC5789 (the `PATCH` method)
* Even if OpenAPI implementations support custom methods, underlying libraries may have limitations; these limitations are outside of the scope of the OAS
* `CONNECT` is still not supported because it cannot take a path in its target URI; this is a restriction of the Paths Object an unrelated to method name fields
* likewise, `OPTIONS *` is prohibited by the Paths Object, and this change does not impact that limitation

Overlays cannot be used as a migration tool. The existing content of the document is not available as an input in a (v1) Overlay.

I'm concerned about Overlays suddenly adding even more restrictions on what we can and cannot do in a minor version change.  This is going to make it very hard to deliver Moonwalk in meaningful increments.

While this limited case can be worked around, we will not be able to work around the identical concern when we revamp parameters for 3.3.  The entire point is that the current parameter syntax is too complex and rickety to extend further.  If people want to use new parameter features in 3.3, they will need to migrate to a new way of doing it for that operation.

There is always a migration cost.  This is not so much about HTTP methods as it is figuring out how to amortize the migration cost effectively.

We should also look at what could be done on the Overlay side in an Overlay 1.1 (which I know was not in the plan, but perhaps it should be if it's going to constrain what the OAS can do).  Adding limited semantic selection capabilities of some sort would also solve this by separating the meaning of the overlay from the exact syntax of the OAS.

Again, change has a cost.  We want to amortize the big-bang change of Moonwalk across steps in 3.x (because we've seen how hard big bang changes are), and we want to make sure that none of our specs (OAS, Arazzo, Overlay) become a problematic constraint on the other.  That means considering whether a difficult interaction is best fixed in one vs the other spec.

This does not mean that all migration costs should be pushed into 3.x.  If something (possibly even a parameters revamp) is still too "big bang" in 3.x then we need to figure out whether to move ahead or to make the 4.0 big bang bigger.  I don't know the answer to that at this stage.

Getting back to HTTP, if this is a problem for Overlays, the solution might lie in changing Overlays rather than restricting OAS.  And again, we should not think of this as a one-off.  As a one-off, it doesn't much matter.  But that is the problem with a lot of the OAS (ahem, parameters).  Too many one-offs that add up to a lot of complexity and no patterns to make it easier.

I'd like to tie two of my previous comments together here.  I [previously mentioned](https://github.com/OAI/OpenAPI-Specification/issues/1747#issuecomment-2596922407) that at the document (DOM) layer, the different options under consideration are significant, but at the semantic layer (ADA), they are all the same.

This is where I think it would be good to start aligning OAS, Arazzo, and Overlays in terms of how we think about changes in any one of these three impacting the other two.  We want 4.0 (Moonwalk) to be build around the DOM/ADA (document vs semantic layer) concept, and we need to start introducing it now to get the community ready for it.

To me, this means leveraging the idea of two layers when we want to make a change like this.  And for Arazzo and Overlays, both of which operate on an OAD by different query/selection languages, this means moving their divergent mechanisms closer to a unified semantic level.  I do *NOT* mean moving everything to a semantic level immediately.  The goal is to introduce this gradually.

-----

What this means is that we can use methods as a trial introduction of the two-layer idea.  Describe it in 3.2 in such a way that encourages tools to abstract away the difference between how "old" and "new" methods work- regardless of the syntax chosen.  There will always be some syntactical awkwardness no matter what we choose (unless we continue to restrict to a pre-defined set, but I'm going to fight very, very hard against that option).  So we want to discourage tool developers from reifying that awkwardness, and encourage them to instead treat HTTP methods (and the Operations they represent) as semantic elements within a Path Item, not field names in a JSON/YAML object namespace.

This can go with tweaks to the other specifications to require a limited semantic match.  What that means is not clear, and no doubt will produce a lively discussion.  But again, cautious incrementalism is the goal here.  Let's use 3.2 (and perhaps 1.1 of the other two specs? paging @frankkilcommins to get an Arazzo perspective) to try out a _tiny_ bit of semantic abstraction with HTTP methods, and see how we can make use of that in the other specs.  This way, when we get to the much more complex abstractions needed to incorporate 3.3 and later, we'll have some idea of what works and what does not.

A small feature like HTTP method expansion is an ideal way to try out this two-layer concept and figure out its implications _across all of our specifications._



I think there is a risk that we are overcomplicating this request for additional HTTP method support that could make it difficult to make available in a timely manner. Let's pick a subobject name and allow additional method names there to meet the original issue requirements and maintain backward compatibility and an easy upgrade path in the 3.x branch.

@lornajane I think there is a deeper issue here as I have said about compatibility, DOM/ADA, and how the three specs work together.  I would like to discuss it at least a little more as we have not even addressed it in a meeting yet.

@lornajane I'll also note that the position you're taking here makes my entire approach for 3.3 invalid.  So if this is the direction we're going to go in, then we need to reconsider the 3.2 vs 3.3 split, because there's no point in doing the 3.3 I had envisioned.

There is another wrinkle here, which is that people rely on the special Path Item Object `$ref` semantics to combine operations, and we would need to preserve that.

To me, this is another reason to just have a new alternative alongside the old way, because the old way (between the problematically special `$ref` and the miscapitalized and limited set of methods) just has too many problems to keep "fixing" with more band-aids.

If we have a new `methods` field that MUST NOT be combined with any of (`$ref`, `get`, `put`, etc.), we could define a sane, consistent way to assemble a set of Operations from multiple sources.  We might need to think about how people use `$ref` with `parameters` as that would be outside of the new `methods` field, but we already know we'd like to get rid of the special Path Item `$ref`, and just have not been able to figure out how to do it.

This could be a path.

In today's Overlays meeting (which @lornajane was unable to attend), @mikekistler demonstrated how challenging it is to get the correct JSONPath expression to select a particular operation by method name and Operation Object field value.  This naturally led into a discussion of how much more difficult it is to create that expression when a Path Item Object uses `$ref` (as noted in the previous comment here).

We talked about the possibility of a hybrid approach to introduce an experimental, limited mechanism for selecting operations.  This could build on the existing JSONPath approach, e.g. using JSONPath to select the correct entry in the Paths Object but then being able to say "give me all operations" or "give me operations with field X set to value Y" semantically, so that the use of `$ref` (and the choice of how to arrange new vs old methods that we're debating here) is irrelevant.

This discussion carried over into the Moonwalk meeting, where folks were in favor of using 3.2 to add an experimental semantic model for this specific area that would support that semantic model.

@mikeschinkel noted that we'll need to define "experimental" formally in order to correctly set expectations around this.  What we want is for tool vendors to be motivated to try this, but _also_ to see that it is not locked-in and that there is an opportunity to influence htis before it becomes locked-in.  I noted that formally defining "deprecated" is related to this, as both are ways to modify the compatibility guarantees.  @mikeschinkel was kind enough to file #4325 to track this.

I'm going to work on what a semantic model might look like and hopefully have something to show at the next TDC call on Thursday.  It is trickier than it first appears because of webhooks and callbacks.

Looping back around to this again, because I know we don't want to lose sight of it.

The goal: support more HTTP methods; at a minimum add QUERY for 3.2, but more/all methods seems to be desirable. In the past we've taken the view that we're aiming to support RESTful API users only, but my impression now is that we're more open to letting people take responsibility for their own decisions rather than us introducing limitations in the specification.

We currently have _alongside other fields_ `get`, `post`, `put`, `patch` and `delete` as field names. Because there are siblings at this level, it's probably unwise to allow free text fields for any HTTP method names in here and I think we did get wide agreement on this part.

I propose that we add `extendedMethods` and allow any field name NOT already supported there, using lowercase for consistency. The influences that lead me to this option as my own preference are mostly:

- A clear, additive-only experience for existing 3.x users (and a clear reason to upgrade!)
- No disruptive situations where if a user changes one part of their API description, another part becomes invalid.
- Clear separation between existing features and 3.2+ features for tooling vendors to implement.

As an additional note, there are a few mentions about Overlays being a blocker to some of the other proposed alternatives, and I don't see that as a fair reflection of the situation because there's nothing special about Overlays used in an API description pipeline. If a user has _any_ OpenAPI transform steps in use, then any situation where an edit in one part of an API description causing knock-on changes in another part will be a problem. Plenty of teams have the odd mad regex in play, and they'd have the same surprises as an Overlays user.

> add `extendedMethods` and allow any field name NOT already supported there

I fully agree, that is the least disruptive way forward

> using lowercase for consistency

Here I disagree: `extendedMethods` is a new sub-structure that can follow its own rules.

Consistency with RFC9110 is more important to me than consistent "styling" within the OAS. Let's follow [RFC9110, section 9](https://www.rfc-editor.org/rfc/rfc9110.html#section-9) and avoid problems for API owners that use case-sensitive non-standard method names and rely on the API clients to use exact casing of these method names:

> The method token is case-sensitive because it might be used as a gateway to object-based systems with case-sensitive method names. By convention, standardized methods are defined in all-uppercase US-ASCII letters.



@ralfhandl I agree with your take, the new Object should follow RFC9110, not our earlier mistake.  I'm dropping the other proposal in favor of your modification of @lornajane's proposal.

I prefer `additionalMethods` over `extendedMethods` as there is no meaningful sense in which the added methods are "extended" (we already include a `patch` field, which was not in the original method set, and we already exclude methods that were registered before the `PATCH` method was registered).  `additionalMethods` is appropriately neutral in tone.

> there's nothing special about Overlays used in an API description pipeline

@lornajane I do disagree here.  Overlays is our spec, and we have to establish what compatibility means when we control both specs.  I'm still unhappy that this is imposing previously-unheard-of constraints on our compatibility story, which is already extremely restrictive.  But I don't have the bandwidth to argue it now so I'm giving up on it for HTTP methods.  But it is very different than people making ad-hoc tools.  We need to have a clear policy on how our specs interact with each other, and we don't, and that's *our* problem.  What other people assume in their ad-hoc tooling, despite their assumptions not being supported by the OAS at all, is *not* our problem in terms of formal guarantees.

Hey everyone,
Just a small nitpicking on the naming. If we end up on an additional field at the path item level (which I support), I think we should make sure it has operation in the name (e.g. additionalOperations, or operations) since this is effectively a "collection of operations objects" and using method or something else would probably confuse people?

I favor `additionalOperations` as these Operation Objects are in addition to the ones with fixed names (`get`, ...).

I can get down with `additionalOperations`, but are you sure we can't just add `query` and call it a day until the next major release?

@kevinswiber we definitely have people wanting to use other methods, or custom methods.  Why the pushback?

@handrews I was just doing one last call out for keeping it simple to bring us back around. We go design down rabbit holes sometimes. If folks are good moving forward, let's go.

I'm happy to move forward, it was a long comment thread but I think I can summarise it as:  we're going to add `additionalOperations` to the `PathItem` object (as a sibling to `get` and `post`), and allow any string as a key (but link to some list of HTTP methods for what those values should be), and use an `Operation` object as a string.

@baywet does this give you what you need?

@kevinswiber @lornajane if we want to make `query` one more "special" method since it seems to be the main request and _almost_ to IETF/IANA published status, and then _also_ have `additionalOperations` for anything beyond that, I would be OK with that as well.

One advantage is that over time, we could more easily survey for usage of `additionalMethods` for things we don't expect, as opposed to `query`, which we do expect.  But I'm also fine wiht relegating `QUERY` to `additionalOperations`

@kevinswiber @baywet I think both of you have talked about writing a PR?  I don't care who does it, but if neither of you have bandwidth just lmk and I'll add it to my queue.

> I'm happy to move forward, it was a long comment thread but I think I can summarise it as: we're going to add `additionalOperations` to the `PathItem` object (as a sibling to `get` and `post`), and allow any string as a key (but link to some list of HTTP methods for what those values should be), and use an `Operation` object as a value.
> 
> [@baywet](https://github.com/baywet) does this give you what you need?

It does, I think the crowd here has reached a consensus, and I'm happy to work on that :)

I just put together #4514

Do I understand correctly that it's just adding **query**?  The request, over 5 years ago, was more than just **query**.  So how many more years will it be until the next version?  It seems to me that those developers and architects that wanted additional methods or operations or whatever we call them that it was not engrained in the spec but follows RFC9110.   Methods always made sense to me as the spec refers to these verbs as Methods.

9.1 ... 
Additional methods, outside the scope of this specification, have been specified for use in HTTP. All such methods ought to be registered within the "Hypertext Transfer Protocol (HTTP) Method Registry", as described in [Section 16.1](https://www.rfc-editor.org/rfc/rfc9110.html#method.extensibility)."
 
I'm still hung on the word ought, and not the use of MUST.  This to me doesn't mean MUST and therefor clients "can" request other methods not defined in RFC9110.

> Do I understand correctly that it's just adding **query**?

No, #4514 will add a fixed field `additionalOperations` that will allow using any HTTP method, even ones not yet invented such as `ASK_VERY_POLITELY`:

https://github.com/OAI/OpenAPI-Specification/blob/cfdc4bc6a5a2235dd8d7c7b3662e16870a881d75/tests/schema/pass/path-item-object-example.yaml#L36-L55


@ralfhandl thank you, no intention on being rude in my last post.  Just confused when I read the PR.  I didn't see the ```example``` part in the file path-item-object-example.yaml initially, probably way too late at night to be reading PRs and making comments.  Might I suggest this be clearer for other readers that includes and example that doesn't match a current method in the IETF RFCs, Thank you.  Looking forward to this improvement!

@ScotMeyer Sorry, I didn't find your comment rude in any way. I just wanted to play with the word "query" which to me has the the connotation of "demand".