Support `multipart/byteranges` for 206 responses

[RFC 9110 §14.6](https://www.rfc-editor.org/rfc/rfc9110.html#name-media-type-multipart-bytera) defines the `multipart/byteranges` media type for use in 206 (Partial Content) responses.  We should see what, if anything, is needed to support it.  Probably something involving the Encoding Object.

Some clients apparently used a not-entirely-compatible `multipart/x-byteranges`, but I'd argue that RFC 9110 carries enough weight that we should support `multiparte/byteranges` even if the old `x-` type is currently more broadly used.

This is implemented in 3.2, so I'll close the issue.