Some notes about the 1.2 specification document

Link: https://github.com/wordnik/swagger-spec/blob/master/versions/1.2.md

* Section 3:  a "fully qualified URL" can be defined as a "URI, as defined by [RFC 3986, section 3]; the scheme used by this URI MUST be `http`." `file` are also valid URLs after all ;)
* Section 4.1: should be completed with "unless otherwise specified, JSON objects defined by this specifications MUST NOT contain members [properties, fields, whatever] other than the ones defined in this specification".
* Also section 4.1: "JSON written for the swagger API MUST conform to the JSON grammar as defined in RFC 7159, section 2; security and interoperability considerations described in RFC 7159 also apply to the present specification".
* Section 4.3.3: little typo: "There currently two variations" (misses "are").



Thanks for the notes - we're not going to make changes to the older specs now.