Add support for Matrix type parameters

Matrix type parameters are not fully supported by Swagger. Would be great to have them supported.
See following google groups discussion on this topic with concrete example and a bunch of links about what matrix parameters are:
https://groups.google.com/forum/#!topic/swagger-swaggersocket/lnQOLOLh3MI

Thanks for great product!
Greetings from Ireland


Link to parent #565 

@jasonh-n-austin on top of #565, this *may* be solved by #291 or related issues. In fact, #291 may affect #565. We don't need to worry about it too much right now, but we may need to revisit one of these after tackling the other.

Alternative parent issue: #574.

Just another +1 to support Matrix parameters.

+1 here, we use them and can't find an easy way to document them...help!

It is not hard to bolt this on, and that is probably why there is low framework support. As a regex with named groups on a path segment is all you need, this way you can easily validate complex matrix params and extract the values of the supported keys. Having regexes on path segments is extremely well supported. 

They are more widely used than you give them credit for, especially _undercover_ through ways like explained above, I can imagine that you would not want to add every undercover technique out there but there is enough substance and standardization here to take notice and make this happen.

See: https://github.com/medialize/URI.js/issues/181
Citation:
> Interesting fact: MatrixURIs do seem to be used in various places:
> 
> Ruby On Rails uses them to denote page state like `som/resource;edit`
> [Piwik](https://github.com/piwik/piwik/issues/3187) "supports" them
> [AngularJS](https://github.com/angular/angular.js/issues/4065) seems to support them
> [RFC 3986 Section 3.3](https://tools.ietf.org/html/rfc3986#section-3.3) explains the concept without calling it MatrixURI in the last paragraph
> Some more resources to (re)visit later:
> 
> - [The Matrix Revisited](http://web.archive.org/web/20080725222010/http://www.oreillynet.com/xml/blog/2006/12/the_matrix_revisited.html)
> - [URL Path Parameter Syntax
](http://web.archive.org/web/20130304084642/http://doriantaylor.com/policy/http-url-path-parameter-syntax)
> - [Building URIs](http://web.archive.org/web/20090519221010/http://blogs.sun.com/sandoz/entry/building_uris) 

And citation:
> Angular 2 use `Matrix URL notation`.
>
> https://angular.io/docs/ts/latest/guide/router.html

Citation found under this angular url:
> Matrix URL notation is an idea first floated in a 1996 proposal by the founder of the web, Tim Berners-Lee.
> 
> Although matrix notation never made it into the HTML standard, it is legal and it became popular among browser routing systems as a way to isolate parameters belonging to parent and child routes. The Angular Component Router is such a system.
> 
> The syntax may seem strange to us but users are unlikely to notice or care as long as the URL can be emailed and pasted into a browser address bar as this one can.

We as an industry are moving to more RESTful api's every day and it is obvious to me why matrix parameters are here and are making a comeback. 

I can also see that for now it is an advanced (REST purist) use-case which is why I understand that most frameworks have not implemented it yet; the DIY version of doing this without a specific framework implementation is dead simple. (even if it were hard most frameworks focus on the everyday use-cases for as long as possible to stay lean and relevant).

There truly is a market big enough that you should consider to cater for.

> Angular 2 use Matrix URL notation.

Considering Angular 2 does not make the slightest effort to follow established standards and could not care less about interoperability, I do not see Angular 2 usage as a compelling reason to add support for any feature to any standard ever.

> I do not see Angular 2 usage as a compelling reason to add support for any feature to any standard ever

It seems to be en-vogue to pick singular aspects out of context to then bash them. Closing an open discussion and refusing to understand that there are people that have views that do not match your own is IMHO what makes things un-great again. I actually wonder, what you are afraid of? Why is a feature that many people _do_ consider useful not worth to reflect on? I _do_ understand that feature bloat has to be avoided, but given that OpenAPI tries to become an widely accepted standard, shouldn't a widely perceived requirement be adopted, too? The ability to _embrace diversity_ is what makes you _strong_.

I already tried to address this issue to smartbear, just to put attention on the demand for matrix parameter support. Their paid tools, on the other hand, seem to support them - from what I saw in a demo.

Simple question: is it kept out due to financial/commercial reasons?

@xasx: "Simple question: is it kept out due to financial/commercial reasons?"  please give me a break.  Read the back log if you want the reasons why we're not patching the 2.0.x version.  We're considering all aspects for 3.0 and honing in.  There are other issues open tracking it.

@xasx Yes, the financial reason for Matrix parameters not being included yet is that we all work fulltime on other jobs and we do this work on the side, for free.  We haven't yet figured out how to reconcile URL Templates with complex parameter serialization.  The in-progress PR is here https://github.com/OAI/OpenAPI-Specification/pull/804

@xasx - I'll also reiterate since similar suggestions have been raised before in other forums - the people who drive the spec are six individuals who work as a team under a group called the TDC. Those six individuals do not represent the companies they work for, and even if they switch companies (and some have), the position stays with them regardless of the company they work for. Granted, we all bring our experience to the table, which can be affected by the place of work, but that's not what drives *any* of us to do the work. In fact, most companies who are members of the OAI don't even have representation in the TDC and have to submit tickets just like everyone else for changes to be considered.

I'll even add and say that so far, we've added support for features that we think people should never ever use for new APIs and are there mostly to support description of existing APIs. We're aware that people will still end up using those for new APIs, unfortunately, and there's nothing we can do about that. This is not necessarily about what *we* think is right.

We're not going to comply with all feature requests. Sometimes the reasons would be more sound, sometimes they'll feel arbitrary. We're _not_ going to make everyone happy.

Suggesting that we, the TDC members as a team, are driven by financial/commercial reasons (hinting towards the company we work fork), is not only wrong but is also offensive. We bring different aspects to the table, we disagree on plenty of things, and we end up finding the common ground.

That's my essay for this time.

p.s.
SmartBear offers *one* commercial tool based on Swagger, and it *does not* support matrix parameters. Other tools may support them, but they are not related to the spec.

@fehguy @darrelmiller @webron Thank you very much for your answers.

I honestly appreciate your statements regarding my question :heart_decoration: 

> Suggesting that we, the TDC members as a team, are driven by financial/commercial reasons (hinting towards the company we work fork), is not only wrong but is also offensive.

I admit that the question was offensive, please don't take it too personally. It fulfilled its purpose of at least getting a statement from the important people behind OAI.

@fehguy 
> We're considering all aspects for 3.0 and honing in.

This statement was so missing in the backlog of this issue. People shouting for Matrix parameter support here get the impression that the idea of 'having an aspect in something because of people' is less worth than 'doing things because':
> We're not going to make everyone happy.  

  or  

> Now, just because something is a generic HTTP URI concept, does not mean we can or want to support it. 

As for the other side:
There's a pain we have and we want to get it relieved. And if there's something like a specification, which OAI clearly aims at, keeping this pain out of the spec is our one desire. Otherwise we will feel like that 'there's this specification, but we cannot comply to it since we do something that seemingly not enough people do, but which is widely supported in frameworks and nonetheless anticipated by people'.

This has been added by https://github.com/OAI/OpenAPI-Specification/pull/804